/*------------------------------------*\
  #Event- Show Page
\*------------------------------------*/

.show-content {
    margin: 0 0 10rem 0;
}

nav.event-show {
    height: 7rem;
    grid-template-columns: 1rem auto;
    text-align: right;
    -webkit-box-align: center;
    align-items: center;
    margin: 0 2rem;
}
header.event-show {
    position: relative;
    width: 100%;
    background-color: #f2f2f2;
    width: 100%;
    grid-template-columns: 50rem auto;
}
.header-left {
    height: 100%;
    padding: 5rem 5rem 0 8rem;
    position: relative;
    &__cat {
        font-size: 2rem;
        font-family: 'Playfair Display', serif;
        font-weight: 300;
        color: #914669;
        display: block;
    }
    &__title {
        top: 0;
        max-height: 31.3rem;
        display: inline-block;
        color: #484848;
        margin-top: 1rem;
        margin-bottom: 1rem;
        & h1 {
            line-height: 5.2rem;
            font-weight: 400;
        }
    }
    &__tag {
        display: block
    }
}

.header-left__details {
    display: grid;
    grid-template-columns: auto auto auto;
    position: absolute;
    bottom: 10%;
    width: 80%;
    & img {
        width: 1.4rem;
        margin-bottom: .7rem;
    }
}
.header__show-info {
    word-wrap: break-word;
    font-size: 1.4rem;
    line-height: 1.2857142857rem;
    color: #484848;
    display: block;
    margin: 0 0 .5rem;
    &.bold {
        font-weight: 800
    }
}

.header-right {
    position: relative;
}
.header-right__image {
    height: 48rem;
    & img {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
}

section.event-show {
    padding: 6.5rem 8rem;
    width: 100%;
    border-bottom: 1px solid #ebebeb;
    position: relative;
    & p {
        line-height: 3rem;
    }
}
section .event-title {
    position:sticky;
    margin-bottom: 1.4rem;
}
.two-panel {
    grid-template-columns: 42rem 1fr;
    & .two-panel {
        grid-template-columns: .4fr .6fr;
        padding-bottom: 3rem;
        border-bottom: 1px solid #ebebeb;
        margin-bottom: 3rem;
    }
}

.event-show-review {
    padding-top:16rem;
    padding-bottom: 12rem;
    & h2 {
        font-size: 5.1rem;
        line-height: 5rem;
    }
}
.event-show-review__right {
    margin-top: -3.5rem;
    font-size: 1.4rem;
    line-height: 2rem;
    & h4 {
        margin-bottom: .5rem;
        font-size: 1.5rem;
        margin-top: .5rem;
    }
}

.show-week-calendar {
    grid-template-columns: repeat(7,1fr);
    border: 1px solid #ebebeb;
    border-radius: 5px;
    text-align: center;
    align-items: center;
    grid-column-gap: 0rem !important;
}
.show-week-calendar_day {
    width: 100%;
    height: 100%;
    line-height: 10rem;
    &.active {
        background: $default-color;
        border: 1px solid #e0e0e0;
        border-radius: 5px;
        & h4 {
            color:white;
        }
    }
}

.event-show-organizer-image {
    width:10rem;
    height: 10rem;
    margin-bottom: 2.5rem;
    & .img {
        width: 100%;
        height: 100%;
        background-size: cover;
        background-position: 50% 50%;
        background-repeat: no-repeat;
        border-radius: 5rem;
    }
}

.organizer-icon-text.event-show {
    font-size: 6rem;
    margin-left: -.5rem;
}

.event-show-showtimes {
    width: 100%;
    margin: 4rem 0;
}


.show-heart-location {
    position: absolute;
    right: 0;
    background: white;
    padding: .7rem 1.3rem .7rem .9rem;
    border-radius: 0.5rem;
    top: 0;
    margin: 5%;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 0px 0px, rgba(0, 0, 0, 0.04) 0px 0px 0px 0.5px;
    & .unhearted {
        fill: #ffffff;
        stroke: #717171;
    }
}
.searchFilterBar {
    width: 100%;
    height: 5rem;
    border-bottom: 1px solid rgb(235, 235, 235);
}


.location-place {
    & .text {
        margin: 0px;
        word-wrap: break-word;
        font-size: 16px;
        font-weight: 400;
        line-height: 1.75em;
        color: #484848;
    }
}
.location-map {
    position: relative;
}
.event-bottom-bar {
    position: fixed;
    bottom: -7rem;
    left: 0px;
    right: 0px;
    background: white;
    grid-template-columns: 1fr auto 12rem;
    z-index: 900;
    padding: 1.6rem 8rem;
    align-items: center;
    box-shadow: 0 1px 4px 1px rgba(0, 0, 0, 0.14);
    transition: all .5s ease 0s;
    &.active {
        bottom: 0rem; 
    }
    & h4 {    
        font-size: 1.4rem;
        letter-spacing: .2rem;
        color: #5d5d5d;
        font-weight: 800;
    }
    & button {
        background: $default-color;
        color:white;
        float:right;
        border:0;
        font-weight: 600;
    }
}

.popup-content .info {
    display: inline-block;
    padding: 1rem;
    position: absolute;
    & .name {
        font-weight: 400;
        color: #222222;
        font-size: 18px;
        line-height: 24px;
        max-height: 24px;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
    }
    & .price {
        -webkit-box-align: center;
        align-items: center;
        color: #222222;
        font-weight: 400;
        font-size: 18px;
        line-height: 24px;
    }
}

@media (max-width: 768px) {

    nav.event-show {
        display: grid;
    }
    section.event-show {
        padding: 3.5rem 2rem;
    }

    header.event-show {
        grid-template-columns: 1fr;
        background: white;
    }
    .header-left {
        padding: 1rem 2rem 4rem 2rem;
        border-bottom: 1px solid #ebebeb;
        &__title {
            & h1 {
                font-weight: 800;
                line-height: normal;
            }
        }
        &__details {
            position: relative;
            display: inline-block;
            width: 100%;
            margin-top: 2rem;
            & .item {
                margin: 1.4rem 0;
                display: grid;
                grid-template-columns: 4rem auto;
                -webkit-box-align: center;
                align-items: center;
            }
        }
    }

    .header__show-info {
        display: inline-block;
        font-size: 1.8rem;
        &.bold {
            margin-left: 1rem;
        }
    }

    .header-right {
        grid-column: 1;
        grid-row: 1;
        background:white;
    }
    .header-right__image {
        height: 38rem;
    }
    .two-panel {
        & .two-panel {
            grid-template-columns: 1fr;
            &:last-child {
                border:0;
                    margin-bottom: 0;
            }
        }
    }

    .event-show-showtimes {
        width: 260px;
    }

    ul.info {
        margin: 2rem 3rem;  
    }

    .grid.event-bottom-bar {
        grid-template-columns: 1fr 18rem;
        padding: 1rem 2rem;
        & button {
            padding: 1.5rem 3rem;
        }
    }
}



