/* ------------------------------------*\
  #Event- Show Page
\*------------------------------------ */

.show-content {
    margin: 0 0 10rem 0;
    background: white;
}

/* ------------------------------------*\
  #Layout
\*------------------------------------ */

.pad4 {
    padding: 3rem 0;
    border-bottom: 1px solid #DDDDDD;
}
.subtext p {
    font-size: 1.4rem;
    color: #717171;
    line-height: 1.8rem;
}
.es__line {
    height: 1px;
    background: #DDDDDD;
    width: 100%;
}
.es__body {
    max-width: 1280px;
    width:100%;
    margin: auto;
    padding: 0 8rem;
    display: grid;
    grid-template-columns: 1fr 37rem;
    grid-column-gap: 9rem;
    padding-bottom: 4rem;
}
.es__body h2 {
    font-size: 2rem;
    padding-bottom: 2rem;
    display: inline-block;
}
.es__body--left {
    position: relative;
    display: inline-block;
}
.es__body--right {
    position: relative;
    display: inline-block;
}
.es__quickbuy--body {
    position: -webkit-sticky;
    position: sticky;
    top: 80px;
    z-index: 1;
    display: inline-block;
    width: 100%;
    border-radius: 1rem;
    border: 1px solid rgb(221, 221, 221);
    padding: 2rem;
    margin-top: 4rem;
    box-shadow: 0px 1px 14px rgba(0, 0, 0, 0.12)
}
.es__widebody {
    max-width: 1280px;
    margin: auto;
    padding: 0 8rem;
}

/* ------------------------------------*\
  Header
\*------------------------------------ */

header.es__header {
    max-width: 1280px;
    margin: auto;
    padding: 2rem 8rem 0 8rem;
    position: relative;
}
.es__header--image img {
    height: 46rem;
    width: 100%;
    object-fit: cover;
}
.es__mobile-nav {
    height:6rem;
}
.es__mobile-nav--back {
    display: inline-block;
}
.es__mobile-nav--button {
    width: 6rem;
    height: 6rem;
    display: flex;
    align-items: center;
}
.es__mobile-nav--button svg {
    margin: 0 auto;
    display: block;
}
.es__favorite {
    position: absolute;
    right: 0;
    top: 4rem;
    background: white;
    border-radius: 0.5rem;
    width: 5rem;
    height: 5rem;
    right: 10rem;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 0px 0px, rgba(0, 0, 0, 0.04) 0px 0px 0px 0.5px;
    & .unhearted {
        fill: #ffffff;
        stroke: #717171;
    }
}
.es__favorite--mobile {
    position: absolute;
    right: 3rem;
    top: 3rem;
}
.es__admin--edit {
    position: absolute;
    top: 4rem;
    right: 17rem;
    background: white;
    height: 5rem;
    width: 5rem;
    text-align: center;
    border-radius: .5rem;
}
.es__admin--edit p {
    line-height: 5rem;
}
.es__star {
    color: #FF385C;
    font-size: 1.5rem;
}

/* ------------------------------------*\
  Title
\*------------------------------------ */

.es__title--category {
    text-transform: uppercase;
    font-size: 1.2rem;
    font-weight: 800;
    margin-bottom: 0.4rem;
    display: inline-block;
}
.es__title--name h1 {
    font-size: 2.8rem;
    display: block;
    margin-bottom: 0.4rem;
    line-height: 3rem;
}
.es__title--tag {
    font-size: 1.4rem;
    margin-bottom: 0.8rem;
    display: block;
}
.es__quickinfo h2 {
    padding-bottom: 4rem;
    font-size: 2rem;
}
.es__quickinfo a {
    display: inline-grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    grid-gap: 1rem;
}
.es__quickinfo--grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 3rem;
}
.es__quickinfo img {
    width: 3.5rem;
}
.es__staffpick--award {
    width: 6rem;
    position: absolute;
    left: -3rem;
    top: -3.5rem;
}
.es__description img {
    width: 5rem;
    border-radius: 5rem;
    float: right;
    margin-top: -1.2rem;
}
.es__description h2 {
    max-width: 88%
}

/* ------------------------------------*\
  Location
\*------------------------------------ */

.es__remote {
    display: grid;
    grid-gap: 2rem;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 20.6rem));
    margin-bottom: 2rem;
}
.es__remote--element {
    width: 100%;
    border: 1px solid #ccbebe;
    border-radius: 1rem;
    padding: 2rem;
}
.es__remote--element h4 {
    margin-bottom: 1rem;
}
.es__remote--element p {
    font-size: 1.4rem;
    line-height: 1.8rem;
}
.es__remote--element.user{
    width: 100%;
    border: 1px solid #ccbebe;
    border-radius: 1rem;
    background: #ececec;
    padding: 2rem;
    max-width: 45rem;
}
.es__map .leaflet-control-zoom {
    display: none;
}

/* ------------------------------------*\
  Details
\*------------------------------------ */

.es__details h3 {
    font-size: 2rem;
    padding-top: 2rem;
    padding-bottom: 1rem;
}
.es__details p {
    font-size: 1.4rem;
    color: rgb(113, 113, 113);
}
.es__details ul {
    margin-left: 2rem;
}
.es__tags--element {
    display: inline-block;
    padding: .1rem 1rem;
    border-radius: .5rem;
    border: 1px solid #ccbebe;
    margin-right: 1rem;
    margin-top: 1rem;
}

/* ------------------------------------*\
  Quick Buy
\*------------------------------------ */

.es__tickets {
    margin-top: 1rem;
}
.es__tickets h3 {
    font-weight: 800;
    font-size: 2rem;
}
.es__tickets p {
    font-size: 1.4rem;
    cursor: pointer;
    text-decoration: underline;
}
.es__tickets--detailed.visible {
    width: 100%;
    display:inline-block;
    position: relative;
    border-radius: 1rem;
    border: 1px solid #DDDDDD;
    background: white;
}
.es__tickets--detailed {
    display: none;
}
.es__tickets--title {
    padding: 2rem;
    border-bottom: 1px solid black;
}
.es__tickets--title h4 {
    text-align: center;
    font-size: 1.5rem;
    font-weight: 800;
}
.es__tickets--title button {
    position: absolute;
    padding: 0;
    border: 0;
    z-index: 10;
}
.es__tickets--title path {
    fill: black !important;
}
.es__tickets--title svg {
    height: 12px !important;
    width: 12px !important;
    position: absolute;
}
.es__tickets--background {
    display: none;
}
.es__tickets--background.visible {
    display: inline-block;
    position: fixed;
    top:0;
    bottom:0;
    left:0;
    right:0;
    background: #ffffff57;
}
.es__ticket--element {
    border-bottom: 1px solid #DDDDDD;
    padding: 3rem 2rem;
}
.es__ticket--element:last-child {
    border-bottom: 0;
}
.es__ticket--name {
    display: grid;
    grid-template-columns: 1fr 1fr
}
.es__ticket--name h4 {
    font-size: 1.4rem;
    line-height: 1.4rem;
    font-weight: 400;
}
.es__ticket--name p {
    text-align: right;
    font-size: 1.4rem;
    line-height: 1.4rem;
    font-weight: 400;
}
.es__ticket--description p {
    font-size: 1.2rem;
    color: #a0a0a0;
    font-weight: 400;
}
.es__pricing--body .flatpickr-day {
    pointer-events: none;
}
.es__pricing--body div.dayContainer {
    width: 31rem;
    max-width: 31rem;
    padding: 0;
}
.es__pricing--body div.flatpickr-weekdaycontainer {
    padding: 0;
}
.es__pricing--body .flatpickr-calendar.inline {
    margin-top: 0;
}

/* ------------------------------------*\
  Dates
\*------------------------------------ */

.es__dates {
    width: 100%;
    border-radius: 1rem;
    margin-top: 3rem;
}
.es__dates h3 {
    font-size: 1.6rem;
    font-weight: 500;
}
.es__dates .flatpickr-calendar {
    box-shadow: none;
}
.es__dates-button {
    border: 1px solid #DDDDDD;
    padding: 1rem;
    border-radius: 1rem;
    width: 100%;
    text-align: left;
    z-index: 100;
    position: relative;
}
.es__dates-button:hover {
    background: black;
}
.es__dates-button:hover h3,  .es__dates-button:hover p, .es__dates-button:hover b{
    color: white;
}
.es__dates-button svg{
    fill: black;
}
.es__dates-button:hover svg{
    fill: white;
}
.es__dates-button:hover g {
    fill: white;
}
.es__dates-button--arrow {
    transform: rotate(-90deg);
    display: inline-block;
    position: absolute;
    right: 2rem;
    top: 2.3rem;
}

.es__dates--popup {
    position: absolute;
    top: 8rem;
    right: 0;
    border: 1px solid #dddddd;
    border-radius: 12px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 6px 20px;
    background: white;
    padding: 2rem;
    margin: 0rem;
    padding-top: 8rem;
}
.es__dates .flatpickr-day.flatpickr-disabled {
    background: #cecece;
    color: rgb(8 8 8 / 79%);
}
.es__dates .flatpickr-current-month .flatpickr-monthDropdown-months {
    font-weight: 800;
    font-size: 1.6rem;
}
.es__dates .flatpickr-current-month input.cur-year {
    font-weight: 800 !important;
    font-size: 1.6rem !important;
    padding: 0 !important;
}
.es__dates span.flatpickr-prev-month {
    top: 0 !important;
}
.es__dates span.flatpickr-next-month {
    top: 0 !important;
}
.es__dates--week {
    margin: 2rem 0;
    grid-template-columns: repeat(7, 1fr);
    border-radius: 5px;
    text-align: center;
    align-items: center;
    overflow: hidden;
    display: grid;
    grid-gap: 2rem;
}
.es__week--days p {
    display: inline-block;
}
.es__week--days b {
    color: black;
}
.es__week--day {
    border: 1px solid black;
    border-radius: 1rem;
    width: 7rem;
    height: 6rem;
}
.es__week--day h4{
    font-size: 1.5rem;
    height: 4rem;
    line-height: 4rem;
}
.es__week--day.active {
    background: black;
}
.es__week--day.active h4 {
    color: white;
}
.es__week--days {
    padding: 1rem 0;
}
.es__dates--description {
    padding-bottom: 2rem;
    overflow: hidden;
}
.es__dates--description p {
    font-size: 1.4rem;
    color: #717171;
}
.es__dates span.flatpickr-day {
    user-select: none;
    pointer-events: none;
}
.es__ticket--buy {
    margin-top: 3rem;
}
.es__ticket--buy button {
    background: #f55151;
    color: white;
    float: right;
    border: 0;
    font-weight: 600;
    padding: 1.6rem 5rem;
    width: 100%;
    border-radius: 1rem;
}

/* ------------------------------------*\
  Organizer
\*------------------------------------ */

.es__organizer--details {
    display: grid;
    grid-template-columns: 6rem 1fr;
    padding-bottom: 2rem;
}
.es__organizer--image {
    width: 5rem;
    height: 5rem;
    border-radius: 5rem;
    overflow: hidden;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    border: 1px solid #e2e2e2;
}
.es__organizer--image img {
    height: 100%
}
.es__organizer--image p {
    font-size: 3rem;
    line-height: 3rem;
    color: #fff;
    padding: 1.1rem;
    text-align: center;
    font-weight: 800;
}
.es__organizer--name h3 {
    font-size: 2rem;
}
.es__organizer--rating {
    padding-bottom: 2rem;
}

/* ------------------------------------*\
  StaffPicks
\*------------------------------------ */

section.es__staffpick {
    border: 1px solid #000000;
    padding: 2rem;
    border-radius: 1rem;
}
.es__staffpick--title {
    display: grid;
    grid-template-columns: 6rem 1fr;
    padding-bottom: 2rem;
}
.es__staffpick--title img {
    width: 5rem;
    height: 5rem;
    border-radius: 5rem;
}
.es__staffpick--title h3 {
    font-size: 2rem;
}
.es__staffpick--title p {
    font-size: 1.4rem;
    color: #717171;
}

/* ------------------------------------*\
  Details
\*------------------------------------ */



.event-bottom-bar {
    position: fixed;
    bottom: -9rem;
    left: 0px;
    right: 0px;
    background: black;
    grid-template-columns: 1fr auto auto;
    z-index: 900;
    padding: 1.6rem 12rem;
    align-items: center;
    box-shadow: 0 1px 4px 1px rgba(0, 0, 0, 0.14);
    transition: all .5s ease 0s;
    &.active {
        bottom: 0rem; 
    }
    & h4 {    
        font-size: 1.4rem;
        letter-spacing: .2rem;
        color: white;
        font-weight: 800;
        display: inline-block;
    }
}
.event-bottom-bar__name {
    display: grid;
    grid-template-columns: 5.7rem 1fr;
    width: 100%;
    align-items: center;
}
img.event-bottom-bar__img {
    object-fit: cover;
    border-radius: 50%
}
button.event-bottom-bar__button {
    background: #f55151;
    color: white;
    float: right;
    border: 0;
    font-weight: 600;
    padding: 1.6rem 5rem;
}


@media (min-width: 768px) {
    .pad4 {
        padding: 4rem 0;
    }
    .es__description p {
        margin-top: 2rem;
    }
    .es__header--image img {
        border-radius: 1rem;
    }
    .es__map .leaflet-top {
        top: -1.5rem;
    }

    .es__map .leaflet-control-zoom {
        position: absolute;
        top: 3rem;
        display: inherit;
    }

    .es__map .leaflet-touch .leaflet-bar {
        border: 0;
        border-radius: 1rem;
        box-shadow: rgba(0, 0, 0, 0.16) 0 4px 24px, rgba(0, 0, 0, 0.04) 0 0 0 1px !important;
    }

    .es__map .leaflet-touch .leaflet-bar a:first-child {
        border-top-left-radius: 1rem;
        border-top-right-radius: 1rem;
    }

    .es__map .leaflet-touch .leaflet-bar a:last-child {
        border-bottom-left-radius: 1rem;
        border-bottom-right-radius: 1rem;
    }

    .es__map .leaflet-touch .leaflet-bar a {
        width: 40px;
        height: 40px;
        line-height: 40px;
    }
}

@media (max-width: 768px) {
    .es__body {
        padding: 0 2rem;
        grid-template-columns: 1fr;
        grid-column-gap: 0;
    }
    header.es__header {
        padding: 0;
        width:100%;
    }
    .es__widebody {
        padding:0 2rem;
    }
    .grid.event-bottom-bar {
        grid-template-columns: 1fr 18rem;
        padding: 1rem 2rem;
        & button {
            padding: 1.5rem 3rem;
        }
    }
}



