/*------------------------------------*\
  #Event- Index Page
\*------------------------------------*/
.event-index-container {
    width:100%;
    margin:auto;
}
.event-index {
    padding-top: 8rem;
}
header.padded {
    padding: 4rem 8rem 4rem 8rem;
}
.header-title {
    margin:2rem 0rem;
}
.header-title-white{
    margin:2rem 0rem;
    & h3 {
        color:white;
    }
}
section.padded {
    padding: 4rem 8rem;
}
.event-list-black {
    padding: 2rem 8rem 4rem 8rem;
    background:black;
}
.event-index-eventlist{
    width:100%;
    grid-template-columns: repeat(4,1fr);
}
.index-nav-search {
    position: relative;
    width: 100%;
    &.mobile {
        width: 100%;
        margin-top: 1.7rem;
    }
}

.eventlist__element {
    width:100%;
}
.card {
    position: relative;
    border-radius: 1rem;
    &.black {
        background:#232323;
    }
}
.card-image{
    & img {
        border-radius: 1rem;
        object-fit: cover;
        height: 19rem;
        width: 100%;
    }
}
.card-content {
    padding: 0rem 1rem 1rem 1rem;
}
.card-title h3 {
    margin: 1rem 0 .5rem;
    font-size: 1.6rem;
    font-weight: 500;
    &.black {
        color:white;
    }
}
.card-organizer h3 {
    margin: .2rem 0 .3rem;
    font-size: 1.6rem;
    font-weight: 400;
    &.black {
        color:white;
    }
}
.card-price h4{
    display: inline-block;
    margin: 0 .5rem 0 0;
    font-size: 1.3rem;
    &.black {
        color:white;
    }
}

.heart {
    position: absolute;
    right: 5%;
    top: 5%;
    border-radius: 50%;
    width: 4rem;
    height: 4rem;
    background-color:white;
    border: 1px solid white;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 0px 0px, rgba(0, 0, 0, 0.04) 0px 0px 0px 0.5px;
    -webkit-transition-duration: 0.3s;
    -webkit-transition-property: -webkit-transform;
    transition-property: transform, visibility;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    visibility: hidden;
    opacity: 0;
    z-index: 100;
    &:hover {
        -webkit-transform: scale(1.07);
        -ms-transform: scale(1.07);
        transform: scale(1.07);
    }
}

.index-nopro {
    background: black;
}
.nopro-content {
    padding:6rem 8rem 4rem 8rem;
    & h2, h3 {
        color:white;
    }
}
button.nopro-button {
    background: none;
    border: 1px solid white;
    color: white;
    margin: 5rem 0rem;
}

@media (max-width: 768px) {
    .event-index {
        padding-top: 0;
    }
    .event-index-eventlist {
        height: 100%;
        overflow-y: auto;
        white-space: nowrap;
        overflow-x: scroll;
        scrollbar-width: none;
        display: -webkit-box!important;
        display: flex!important;
    }
    .eventlist__element {
        padding: .7rem;
    }
    header.padded {
        padding: 4rem 2rem 8rem 2rem;
    }
    section.padded {
        padding: 4rem 2rem;
        &.events {
            padding:4rem 0rem;
        }
    }
}

@media (min-width: 768px) {
    .eventlist__element {
        &:hover div.heart{
            visibility: visible;
            opacity: 1;
        }
    }
}






/*.index {
    & .categories {
        padding: 8rem 0rem 4rem 0rem;
        width: 100%;
        position: relative;
        & .block {
            display: inline-block;
            width: 25%;
            position: relative;
            margin-right: 1rem;
            & .item {
                    box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 4px 0px;
                    margin-bottom: .4rem;
                    width: 100%;
                    border-width: .1rem;
                    border-style: solid;
                    border-color: rgba(0, 0, 0, 0.1);
                    border-radius: .3rem;
                    overflow: hidden;
                    height: 6rem;
                & .image {
                    height: 10rem;
                    width: 10rem;
                    background-size: cover;
                    background-repeat: no-repeat;
                    display: inline-block;
                    float: left;
                }
                & .text {
                    display: inline-block;
                    float: left;
                    padding-left: 1rem;
                    padding-right: 1rem;
                    & h4 {
                        overflow-wrap: break-word;
                        font-size: 14px;
                        font-weight: 800;
                        line-height: 1.28571em;
                        color: rgb(72, 72, 72);
                        margin-top: 2.2rem;
                    }
                }
            }
        }
    }
}
@media (max-width: 768px) {
    
}*/


