.edit-events {
    width: 300px;
    margin: auto;
    & img {
    	width:100%;
    }
}
.tab-events {
    margin-top:5rem;
    min-height: 320px;
}
.organizer-event-edit-section {
    & .title-block {
        width: 100%;
        position: relative;
        overflow: auto;
    }
    & .title {
        float:left;
        overflow-wrap: break-word;
        font-size: 3.2rem;
        font-weight: 800;
        line-height: 1.125rem;
        color: rgb(72, 72, 72);
        padding-top: .6rem;
        padding-bottom: .6rem;
        margin: 0px;
    }
    & .buttons {
        float:right;
    }
}
.edit-events-page {
    max-width: 100rem;
    margin: auto;
    padding-top:4rem;
}
