.index {
    & .categories {
        padding: 8rem 0rem 4rem 0rem;
        width: 100%;
        position: relative;
        & .block {
            display: inline-block;
            width: 25%;
            position: relative;
            margin-right: 1rem;
            & .item {
                    box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 4px 0px;
                    margin-bottom: .4rem;
                    width: 100%;
                    border-width: .1rem;
                    border-style: solid;
                    border-color: rgba(0, 0, 0, 0.1);
                    border-radius: .3rem;
                    overflow: hidden;
                    height: 6rem;
                & .image {
                    height: 10rem;
                    width: 10rem;
                    background-size: cover;
                    background-repeat: no-repeat;
                    display: inline-block;
                    float: left;
                }
                & .text {
                    display: inline-block;
                    float: left;
                    padding-left: 1rem;
                    padding-right: 1rem;
                    & h4 {
                        overflow-wrap: break-word;
                        font-size: 14px;
                        font-weight: 800;
                        line-height: 1.28571em;
                        color: rgb(72, 72, 72);
                        margin-top: 2.2rem;
                    }
                }
            }
        }
    }
    & .events {
        margin-bottom: 6rem;
    }
}


