/*------------------------------------*\
  #Event- Event Maps 
\*------------------------------------*/

.e-search-map {
    display: inline-block;
    position: relative;
}
.e-search-map-container {
    overflow: hidden;
    width: 57rem;
    height: 100vh;
    padding-top: 7rem;
    margin-top: -7rem;
    position: sticky;
    top: 0px;
    & .zoom {
        margin: 9.4rem 2.4rem;
    }
}
.e-search-map-container__update-box {
    right: 17rem;
    top: 0;
    border-radius: 1rem;
    width: 23rem;
    margin-left: -11.4rem;
    margin-top: 9.4rem;
    height: 4.3rem;
    grid-template-columns: 4.4rem auto;
    grid-gap: 0rem !important;
    align-items: center;
    position: fixed;
    z-index: 900;
    background: #fff;
    box-shadow: 0 4px 24px rgba(0,0,0,.16),0 0 0 1px rgba(0,0,0,.04)!important;
    & p {
        display: inline-block;
        margin: 0;
        padding: 1rem 0;
        font-size: 1.3rem;
        font-weight: 500;
    }
}

.e-search-map-container__update-box--checkbox {
    width: 2.4rem;
    height: 2.4rem;
    background: #f64747;
    position: relative;
    border-radius: .5rem;
    display: inline-block;
    margin: 1rem;
    input:checked + .check {
        position: absolute;
        top: 40%;
        left: 50%;
        width: 8px;
        height: 14px;
        border-width: 0 2px 2px 0;
        border-style: solid;
        border-color: #fff;
        transform: rotate(45deg);
        margin-left: -4px;
        margin-top: -7px;
    }
    input[type="checkbox"] {
        -webkit-appearance: none;
        appearance: none;   
    }
}

.zoom {
    position: fixed;
    right:0;
    top:0;
    margin: 2.4rem;
    z-index: 900;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 4px 24px, rgba(0, 0, 0, 0.04) 0px 0px 0px 1px !important;
    border-radius: 1rem;
}
.zoom__in button {
    background: white;
    border: none;
    padding: 1.2rem;
    border-radius: 1rem 1rem 0rem 0rem;
    &:hover {
        background: #e8e8e8;
    }
}
.zoom__out button {
    background: white;
    border: none;
    padding: 1.2rem;
    border-radius: 0rem 0rem 1rem 1rem;
    &:hover {
        background: #e8e8e8;
    }
}

button.close-map {
    position: fixed;
    top: 9.3rem;
    right: 50rem;
    z-index: 900;
    background: #fff;
    padding: 1.5rem;
    border-radius: 50%;
    box-shadow: 0 4px 24px rgba(0,0,0,.16),0 0 0 1px rgba(0,0,0,.04)!important;
}

button.mobile-map-close {
    position: fixed;
    top: 2.4rem;
    left: 2.4rem;
    z-index: 900;
    background: #fff;
    padding: 1.5rem;
    border-radius: 50%;
    box-shadow: 0 4px 24px rgba(0,0,0,.16),0 0 0 1px rgba(0,0,0,.04)!important;
}


.event-create-map {
    position: relative;
}

.event-show-map {
    position: relative;
}

@media (max-width: 768px) {

    .e-search-map {
        width: 100%;
        grid-column: 1;
        grid-row: 1;
        display: inline-block;
        position: relative;
        padding:0;
    }
    .e-search-map-container {
        position: fixed;
        overflow: hidden;
        width: 100%;
        padding-top: 0;
        margin-top: 0;
    }
    .e-search-map-container__update-box {
        display: inline-block;
        right:0;
        left:50%;
        width: 13rem;
        border-radius: 5rem;
        margin-left: -6.5rem;
        padding: 0;
        margin-top: 2.4rem;
        svg {
            padding-top: .3rem;
        }
    }
    .event-search-map-container .zoom {
        margin: 2.4rem 2.4rem;
    }
}