.edit-events {
    width: 300px;
    margin: auto;
    & img {
    	width:100%;
    }
}
.tab-events {
    margin:5rem auto;
    width:72%;
    min-height: 320px;
}
.editevents{
    max-width: 100%;
    & .section {
        margin-top:7rem;
        & .title-block {
            width: 72%;
            height: 8rem;
            position: relative;
            display: grid;
            grid-template-columns: 6rem auto auto;
            align-items: center;
            grid-gap: 2rem;
            margin: auto;
            & .image {
                width: 6rem;
                height: 6rem;
                background-repeat: no-repeat;
                background-position: center;
                background-size: cover;
                display: inline-block;
                float: left;
                border-radius: 50%;
                margin-right: 2rem;
                & .icontext {
                    text-align: center;
                    & h2 {
                        color:white;
                        font-size: 4rem;
                        margin: .4rem auto;
                    }
                }
            }
            & .edit {
                font-size: 1.4rem;
                padding-top: .6rem;
                padding-bottom:.6rem;
                font-weight: 600;
                padding-left: 1.5rem;
                padding-right: 1.5rem;
                line-height: 2.2rem;
                min-width: 4.8rem;
                color: rgb(0, 132, 137);
                border-radius: .4rem;
                background: white;
                border: 1px solid $default-color;
                display: inline-block;
            }
            & .prev {
                font-size: 1.4rem;
                padding-top: .6rem;
                padding-bottom:.6rem;
                font-weight: 600;
                padding-left: 1.5rem;
                padding-right: 1.5rem;
                line-height: 2.2rem;
                min-width: 4.8rem;
                color: rgb(255, 255, 255);
                border-radius: .4rem;
                border-width: .1rem;
                background: rgb(0, 132, 137);
                border-color: transparent;
            }
        }
        & .title {
            float: left;
            overflow-wrap: break-word;
            font-size: 4rem;
            font-weight: 800;
            line-height: 8rem;
            color: #484848;
            margin: 0px;
            padding: 0;
            line-height: 4.4rem;
        }
        & .buttons {
            text-align: right;
        }
        & .new-event {
            position: relative;
            border: none;
            & .body {
                background-color: white;
                position: absolute;
                top: 0;
                left: 0;
                &:hover {
                    background-color:$default-color;
                    & .event {
                        color: white;
                        & svg.b {
                            fill:white;
                        }
                    }
                }
                & .event {
                    position: absolute;
                    top: 50%;
                    height: 7rem;
                    margin-top: -3.5rem;
                    width: 15rem;
                    left: 50%;
                    margin-left: -7.5rem;
                    text-align: center;
                    & svg.b {
                        fill: $default-color;
                    }
                }
            }
        }
        & .review {
            display: grid;
            grid-template-columns: auto auto;
            grid-gap: 2rem;
        }
        & .validation-error {
            margin-top: -20px;
            position: absolute;
            background: white;
            margin-left: 2px;
            & p {
                margin: 0px;
                padding: 0px 5px;
                color: red;
                font-size: 1.3rem;
            }
        }
    }
    & .newOrg {
        width:72%;
        margin:auto;
        & .title {
            display: inline-block;
            & .add {
                background: $default-color;
                display: inline-block;
                padding: .5rem 1.5rem;
                border-radius: 50%;
                color: white;
                margin-left: 1rem;
                font-size: 3rem;
            }
        }
    }
}
.edit-events-page {
    max-width: 100rem;
    margin: auto;
    padding-top:4rem;
}
