
// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: "Nunito", sans-serif;
$font-size-base: 1.8rem;
$line-height-base: 1.6;
$basic-font: 'Open Sans', sans-serif;
$basic-font-1: 'Montserrat', sans-serif;

// Colors
$blue: #a3d4ff;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66D9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;
$bg: #f3f8fa;
$white: #fff;
$black: #fc428c;
$circle-color: green;
$outside-color: #a3d4ff; 
$line-color: #dedede;
$nav-background: #fff;
$footer-background: #fff;
$default-font-color: #484848;
$light-font-color: #b3b5bf;
$border-color:#e5e5e5;

input, textarea, button:focus {outline:0;}
input, textarea{box-sizing:border-box} 

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus textarea:-webkit-autofill,
textarea:-webkit-autofill:hover textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
-webkit-box-shadow: 0 0 0px 1000px #ffffff inset !important;
}
.leaflet-touch .leaflet-control-attribution, .leaflet-touch .leaflet-control-layers, .leaflet-touch .leaflet-bar {
    display: none;
}

.zoom-in button {
    background: white;
    border: none;
    padding: 1.2rem;
    border-radius: 1rem 1rem 0rem 0rem;
    &:hover {
        background: #e8e8e8;
    }
}
.zoom-out button {
    background: white;
    border: none;
    padding: 1.2rem;
    border-radius: 0rem 0rem 1rem 1rem;
    &:hover {
        background: #e8e8e8;
    }
}
.zoom-button-section {
    position: absolute;
    right:0;
    top:0;
    margin: 2.4rem;
    z-index: 900;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 4px 24px, rgba(0, 0, 0, 0.04) 0px 0px 0px 1px !important;
    border-radius: 1rem;
}