






.organization-form .multiselect {
  .option__desc, .option__image {
    display: inline-block;
    vertical-align: middle;
  }
  .option__image {
    max-height: 80px;
    margin-right: 10px;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: 1px solid #ddd;
  }
  .option__title {
    font-size: 14px;
  }
  .option__small {
    font-size: 12px;
    // margin-top: 0.75rem;
    display: block;
  }
}
/*-----------------------initial create page---------------------*/
.initial_create {
  background-image: url("/storage/website-files/create-background.jpg");
  background-size: cover;
  height:94vh;
  &-text {
    width: 45%;
    float: right;
    margin-top: 10%;
  }
}

/*--------------------------dates section-------------*/

.dates-grid {
    display: grid;
    grid-template-columns: 310px 1fr;
}
.asd__month {
    min-height: 330px;
}
.asd__keyboard-shortcuts-trigger-wrapper {
    display: none;
}



/* -------------------------Pricing-------------------*/

.alt-pricing {
    display: grid;
    grid-template-columns: repeat( auto-fit, minmax(250px, 250px) );
    align-items: end;
    & .create-field {
        width:100px;
    }
}



/*------------------------------Image --------------*/


/*--------------------------------Checklist --------------------------------*/
.container-checklist {
    padding: 0rem 1rem 1rem 2rem;
}
.checklist-section {
    margin: 1rem 0rem;
    position: relative;
}
svg.checkbox {
    stroke:#008489;
    viewBox:0 0 42 42;
    fill:currentColor;
    fill-opacity:0;
    stroke-width:3;
    focusable:false;
    role:presentation;
    stroke-linecap:round;
    stroke-linejoin:round;
    height: 2.5em;
    width: 2.5em;
    display: block;
    overflow: visible;
    margin-top: -1rem;
    position: absolute;
    right: 0;
    top: 0;
}
.container-checklist {
    width: 20%;
    display: inline-block;
    vertical-align: top;
}

