#grid-section {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-auto-rows: 320px;
	grid-gap: 15px 15px;
}

.grid-background-image {
	padding: 33%;
	border-radius: 4px;
	background-size: cover; 
	background-repeat: no-repeat;
}
#explore-grid-section {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 8.2rem;
    grid-gap: 15px 15px;
    overflow: hidden;
    padding: 3rem 0rem 6rem 0rem;
}
#explore-grid-section a {
    text-decoration: none;
    color: black;
}
.explore-grid-container {
    display: grid;
    grid-template-columns: 9.1rem 1fr;
    grid-template-rows: 6.8rem;
    border: 1px solid #e5e5e5;
    align-items: center;
    grid-gap: 1rem 1rem;
}
.explorer-background-image {
    padding: 33%;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
}
.heart-location {
    position: absolute;
    margin-top: -5%;
    margin-left: 10%;
}
.dates-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    grid-gap: 1rem 1rem;
}
.hearted {
  fill:#FF5A5F; 
  fill-opacity:1;
  stroke:#FF5A5F; 
  height: 24px; 
  width: 24px; 
  display: block; 
  overflow: visible;
  stroke-width:2;
}
.unhearted {
  fill:#484848; 
  fill-opacity:.5;
  stroke:#FFF; 
  height: 24px; 
  width: 24px; 
  display: block; 
  overflow: visible;
  stroke-width:2;
}
