.flatpickr-calendar.inline {
    margin: auto;
}
.flatpickr-calendar .multiMonth .inline {
    width:100% !important;
}
.flatpickr-days {
    margin: 1rem 4rem 4rem 4rem;
}
.flatpickr-weekdays {
    margin:auto !important;
    width:90% !important;
}
.flatpickr-weekdaycontainer span.flatpickr-weekday {
    font-weight: 300;
}
div.flatpickr-calendar.animate.multiMonth.inline {
    width: 100% !important;
}

span.flatpickr-day {
    border: 1px solid rgb(228, 231, 231);
    border-radius: 0px;
    height: 100%;
    max-width: 100%;
}
.flatpickr-months {
    padding-top: 4%;
    padding-bottom: 2%;
}
div.flatpickr-current-month {
    padding: 0;
    & input {
        padding: 0.5rem 0.5rem !important;
        margin-left: 1rem !important;
        text-align: center;
        width: 80% !important;
    }
}
div.numInputWrapper:hover {
    background: none; 
}
input.form-control.flatpickr-input {
    display: none;
}
span.flatpickr-day.selected {
    background: rgb(0, 166, 153);
    border-color: rgb(0, 166, 153) !important;
}