.leaflet-control-attribution.leaflet-control {
    opacity: 0;
}
.leaflet-marker-icon.icons {
    width: 20rem !important;
    margin-left: -10rem !important;
    height: 3rem !important;
    text-align: center;
    & p {
        overflow-wrap: break-word;
        font-size: 14px;
        font-weight: 800;
        line-height: 1.28571em;
        color: inherit;
        margin: 0.4rem 0rem;
        background: white;
        border-radius: 5rem;
        border: 2px solid black;
        display: inline-block;
        padding: .5rem 1rem 1rem 1rem;
    }
}
div.leaflet-popup {
    &-content {
        margin: 1rem 0rem;
        line-height: 1.4;
        &-wrapper {
            padding: 0rem;
            width: 20rem;
            margin-top:50%;
            & .pop {
                width: 100%;
                min-height: 16rem;
                & .back {
                    height:12rem;
                    background-size: cover;
                    background-repeat: no-repeat;
                    border-radius: .5rem .5rem 0rem 0rem;
                }
                & .info {
                    padding: 1rem;
                    & .name {
                        font-family: 'Montserrat', sans-serif; 
                        color:#484848;
                    }
                }
            }
            & .show-pop {
                width: 100%;
                
                & .back {
                    height:12rem;
                    background-size: cover;
                    background-repeat: no-repeat;
                    border-radius: .5rem .5rem 0rem 0rem;
                }
                & .info {
                    padding: 1rem;
                    & .name {
                        font-family: 'Montserrat', sans-serif; 
                        color:#484848;
                    }
                }
            }
        }
    }
}
a.leaflet-popup-close-button {
    display: none;
}
.leaflet-touch .leaflet-control-attribution, .leaflet-touch .leaflet-control-layers, .leaflet-touch .leaflet-bar {
    display: none;
}
/*div.vue2leaflet-map {
    height:84% !important;
}*/

.zoom {
    position: absolute;
    right:0;
    top:0;
    margin: 2.4rem;
    z-index: 900;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 4px 24px, rgba(0, 0, 0, 0.04) 0px 0px 0px 1px !important;
    border-radius: 1rem;
    & .in button {
        background: white;
        border: none;
        padding: 1.2rem;
        border-radius: 1rem 1rem 0rem 0rem;
        &:hover {
            background: #e8e8e8;
        }
    }
    .out button {
        background: white;
        border: none;
        padding: 1.2rem;
        border-radius: 0rem 0rem 1rem 1rem;
        &:hover {
            background: #e8e8e8;
        }
    }
}
.map {
    position: relative;
    & .default {
        position: absolute;
        left: 50%;
        top: 0;
        z-index: 900;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 4px 24px, rgba(0, 0, 0, 0.04) 0px 0px 0px 1px !important;
        border-radius: 1rem;
        background: white;
        width: 30rem;
        margin-left: -15rem;
        margin-top: 2.4rem;
        & p {
            display: inline-block;
            margin: 0;
            padding: 1rem;
        }
        & input {
            margin:1rem;
        }
    }
    & .checkbox {
        width: 3rem;
        height: 3rem;
        background: #f64747;
        position: relative;
        border-radius: .5rem;
        display: inline-block;
        margin: 1rem;
        
        input:checked + .check {
            position: absolute;
            top: 50%;
            left: 50%;
            width: 8px;
            height: 14px;
            border-width: 0 2px 2px 0;
            border-style: solid;
            border-color: #fff;
            transform: rotate(45deg);
            margin-left: -4px;
            margin-top: -7px;
        }
        
        input[type="checkbox"] {
            -webkit-appearance: none;
            appearance: none;   
        }
    }
}

