/*------------------------------------*\
  #MultiSelect
\*------------------------------------*/

.nav-search{
    & .multiselect {
        margin:0;
        &__tags {
            box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 10px, rgba(0, 0, 0, 0.04) 0px 0px 0px 1px !important;
            border: none;
            padding: 1rem 1rem;
        }
    }
    & .multiselect__input {
        font-weight: 400;
        font-size: 1.7rem !important;
        color: black;
        padding: .2rem 3rem 0rem 3rem;
        margin:0;
        margin-top:-.3rem;
    }
    & .multiselect__single {
        font-weight: 800;
        padding: 0rem 3rem;
        font-size: 1.7rem;
        color: #484848;
        margin:0;
    }
    & .multiselect__placeholder {
        padding: .2rem 3rem 0rem 3rem;
        width: 100%;
        font-weight: 400;
        font-size: 1.7rem;
        color: #949494;
        white-space: nowrap;
        overflow: hidden;
        margin:0;
    }
    & .multiselect__select{
        display: none;
    }
}

.index-nav-search {
    & .multiselect {
        margin: 0;
        z-index: 2;
        &__tags {
            box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 10px, rgba(0, 0, 0, 0.04) 0px 0px 0px 1px !important;
            border: none;
            padding: 1rem;
            border-radius: 5rem;
        }
    }
    & .multiselect__input {
        font-weight: 400;
        font-size: 1.7rem !important;
        color: black;
        padding: 1rem 3rem;
        margin:0;
        margin-top:-.1rem;
    }
    & .multiselect__single {
        font-weight: 800;
        padding: 1rem 3rem;
        font-size: 1.7rem;
        color: #484848;
        margin: 0;
    }
    & .multiselect__placeholder {
        padding: 1rem 3rem;
        width: 100%;
        font-weight: 400;
        font-size: 1.7rem;
        color: #949494;
        white-space: nowrap;
        overflow: hidden;
        margin:0;
    }
    & .multiselect__select{
        display: none;
    }
    & .multiselect--active {
        & .multiselect__tags {
            border: 1px solid rgb(0, 132, 137) !important;
            border-top-left-radius: 3rem !important;
            border-top-right-radius: 3rem !important;
        }
    }
}

.multiselect.multi-button {
    margin:0;
    & .multiselect__tags {
        border-radius: 5rem;
        border: 1px solid black;
        min-height: 43px;
        padding: 8px 8px 0 8px;
    }
    & .multiselect__placeholder {
        color: #484848;
        font-weight: 300;
    }
    & .multiselect__select {
        display: none;
    }
    &.multiselect--active {
        & .multiselect__tags {
            border: 1px solid rgb(0, 132, 137) !important;
            border-radius: 5px !important;
            border-top-left-radius: 2rem !important;
            border-top-right-radius: 2rem !important;
        }
    }
    & .multiselect__input {
        font-weight: 400;
        font-size: 1.4rem !important;
        color: black;
        padding: 0rem;
        margin:0;
        margin-top:.1rem;
    }
}


.multiselect__option {
    white-space: inherit !important;
}

.multiselect {
    margin: 0rem 0rem 1rem 0rem;
}
.multiselect--active {
    & .multiselect__tags {
        border: 1px solid rgb(0, 132, 137) !important;
        border-top-left-radius: 5px !important;
        border-top-right-radius: 5px !important;
    }
}
.multiselect.error {
    & .multiselect__tags {
        border: 1px solid red !important;
    }
}
#create {
    & .multiselect__tag {
        background: #008489;
    }
}