.multiselect {
    margin: 0rem 0rem 1rem 0rem;
}
.multiselect--active {
    & .multiselect__tags {
        border: 1px solid rgb(0, 132, 137) !important;
        border-top-left-radius: 5px !important;
        border-top-right-radius: 5px !important;
    }
}
.multiselect.error {
    & .multiselect__tags {
        border: 1px solid red !important;
    }
}
#create {
    & .multiselect__tag {
        background: #008489;
    }
}