.tab {
    border-bottom: solid #e4e4e4 1px;
    & .content {
        width: 72%;
        margin: auto;
    }
    & .ln {
        display: inline-block;
        & button {
            border: none;
            font-size: 1.6rem;
            line-height: 2.2rem;
            color: #5f5f5f;
            margin-right: 3.2rem;
            padding-left:0rem;
            padding-right:0rem;
            padding-top: 2.4rem;
            padding-bottom: 2.4rem;
            font-weight: 500;
            letter-spacing: .06rem;
        }
    }
    & .ln.act button {
        color:#008489;
        border-bottom: 2px solid #008489;
        border-radius:0;
    }
}
