input,
textarea,
button:focus {
  outline: 0;
}

input,
textarea {
  box-sizing: border-box;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus textarea:-webkit-autofill,
textarea:-webkit-autofill:hover textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0px 1000px #ffffff inset !important;
}

.dis {
  pointer-events: none;
}

#header.c {
  z-index: -1;
}

#header.c .nav {
  border: none;
}

#create .ctitle {
  padding: 0% 4.9% 0% 4.9%;
}

#create .ctitle h2 {
  margin: 0;
}

#create .section {
  overflow: visible;
}

#create .steps {
  height: 7rem;
  overflow: visible;
  width: 100%;
  margin: auto;
  position: fixed;
  z-index: 901;
}

#create .steps h2 {
  display: inline-block;
  margin: 0;
}

#create .steps p {
  display: inline-block;
}

#create .steps .logo {
  height: 6.9rem;
  width: 6.9rem;
  display: inline-block;
  float: left;
}

#create .steps .logo img {
  height: 100%;
  width: 100%;
}

#create .content {
  width: 100%;
  margin: auto;
  padding-top: 7rem;
}

#create .field {
  width: 100%;
}

#create .field label {
  display: block;
  margin: 2rem 0rem 1rem 0rem;
  font-size: 1.5rem;
  font-weight: 500;
  color: #656565;
}

#create .field input {
  position: relative;
  color: #484848;
  background-color: white;
  -webkit-transition: border-color 0.2s ease 0s;
  transition: border-color 0.2s ease 0s;
  padding: 1.3rem 1rem;
  border-width: 1px;
  border-style: solid;
  -o-border-image: initial;
  -webkit-border-image: initial;
          border-image: initial;
  border-radius: 5px;
  border-color: #ebebeb;
  margin: 0rem 0rem 1rem 0rem;
  font-size: 1.4rem;
  width: 100%;
}

#create .field input.active {
  border-color: #008489;
}

#create .field input.error {
  border-color: red;
}

#create .field input::-webkit-input-placeholder {
  color: #adadad;
  font-size: 1.4rem;
  font-family: inherit;
}

#create .field input::-moz-placeholder {
  color: #adadad;
  font-size: 1.4rem;
  font-family: inherit;
}

#create .field input:-ms-input-placeholder {
  color: #adadad;
  font-size: 1.4rem;
  font-family: inherit;
}

#create .field input::-ms-input-placeholder {
  color: #adadad;
  font-size: 1.4rem;
  font-family: inherit;
}

#create .field input::placeholder {
  color: #adadad;
  font-size: 1.4rem;
  font-family: inherit;
}

#create .field textarea {
  position: relative;
  color: #484848;
  background-color: white;
  -webkit-transition: border-color 0.2s ease 0s;
  transition: border-color 0.2s ease 0s;
  padding: 1.3rem 1rem;
  border-width: 1px;
  border-style: solid;
  -o-border-image: initial;
  -webkit-border-image: initial;
          border-image: initial;
  border-radius: 5px;
  border-color: #ebebeb;
  margin: 0rem 0rem 1rem 0rem;
  font-size: 1.4rem;
  width: 100%;
}

#create .field textarea.active {
  border-color: #008489;
}

#create .field textarea.error {
  border-color: red;
}

#create .field textarea::-webkit-input-placeholder {
  color: #adadad;
  font-size: 1.4rem;
  font-family: inherit;
}

#create .field textarea::-moz-placeholder {
  color: #adadad;
  font-size: 1.4rem;
  font-family: inherit;
}

#create .field textarea:-ms-input-placeholder {
  color: #adadad;
  font-size: 1.4rem;
  font-family: inherit;
}

#create .field textarea::-ms-input-placeholder {
  color: #adadad;
  font-size: 1.4rem;
  font-family: inherit;
}

#create .field textarea::placeholder {
  color: #adadad;
  font-size: 1.4rem;
  font-family: inherit;
}

#create .inNav {
  position: fixed;
  top: 0;
  right: 1%;
  z-index: 902;
}

#create .checklist {
  display: grid;
  grid-template-columns: 12rem 1fr;
  background: white;
  position: relative;
  height: 7rem;
  justify-items: center;
  -webkit-box-align: center;
          align-items: center;
}

#create .checklist button.home {
  border: solid #008489 1px;
  border-radius: 0.3rem;
  padding: 0.9rem 2rem;
  font-size: 1.5rem;
  background: #008489;
  color: white;
  height: 4rem;
}

#create .checklist .item {
  width: 100%;
}

#create .bar {
  height: 1rem !important;
  line-height: 0.8px !important;
  background-color: #edefed !important;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 0px !important;
  position: relative;
}

#create .bar .link {
  overflow: visible;
  display: inline-block;
  width: 100%;
  height: 100%;
  position: relative;
  margin-left: -0.85rem;
}

#create .bar .link a {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
}

#create .bar .grey {
  display: inline-block;
  height: 10px;
  position: absolute;
}

#create .bar .fill {
  background-color: #008489;
  border-radius: 0rem 1rem 1rem 0rem;
}

#create .submit {
  margin: 0;
  padding: 0% 0% 0% 5%;
}

button.create {
  color: #008489;
  border: 1px solid #008489;
  padding: 0.9rem 2rem;
  font-size: 1.6rem;
  border-radius: 5px;
  margin: 2rem 0rem;
  background: none;
}

button.create:disabled,
button.create[disabled] {
  border: 1px solid #cacaca;
  background-color: #f9f9f9;
  color: #c7c7c7;
}

.validation-error {
  margin-top: -20px;
  position: absolute;
  background: white;
  margin-left: 10px;
}

.validation-error p {
  margin: 0px;
  padding: 0px 5px;
  color: red;
  font-size: 1.3rem;
}

.dis {
  pointer-events: none;
}

#create {
  margin-top: -7rem;
}

#create.start {
  background-image: url("/storage/website-files/create-background.jpg");
  background-size: cover;
  height: 100vh;
}

#create.start .content {
  padding: 7% 2% 2rem 7%;
  width: 40%;
  float: left;
}

#create.start .content .text {
  margin-bottom: 4rem;
}

#create.start .content .text h2 {
  font-size: 3.2rem;
  font-weight: 400;
}

#create.start a.cbut {
  background: #008489;
  padding: 1rem;
  border-radius: 0.5rem;
  color: white;
}

#create {
  position: relative;
  overflow: auto;
}

#create .organizer {
  padding-top: 4%;
  width: 90%;
  margin: auto;
}

#create .organizer .text {
  width: 50%;
  float: left;
  margin: 0;
  padding: 0% 0% 0% 5%;
}

#create .organizer .text .floating-form {
  margin-bottom: 5rem;
}

#create .organizer .image {
  width: 50%;
  float: right;
  margin: 0;
  padding: 0% 0% 0% 5%;
  margin-top: 5rem;
}

#create .organizer .image .img {
  width: 100%;
  margin: 0;
  padding: 0% 5% 0% 5%;
}

#create .organizer .image .img .loader {
  width: 480px;
  height: 270px;
  background-color: #efefef;
  border-radius: 1rem;
  margin: auto;
  position: relative;
  text-align: center;
}

#create .organizer .image .img .loader label {
  height: 100%;
  width: 100%;
  display: inline-block;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 0.5rem;
  border: 1px solid #d2d2d2;
}

#create .organizer .image .img .loader label .dash {
  display: inline-block;
  width: 100%;
  height: 100%;
  padding: 1rem;
}

#create .organizer .image .img .loader label .dash .box {
  border: dashed 2px #dadada;
  height: 100%;
  position: relative;
}

#create .organizer .image .img .loader label .dash .box .in {
  margin: auto;
  position: absolute;
  height: 10rem;
  top: 50%;
  margin-top: -3.5rem;
  width: 100%;
}

#create .organizer .image .img .loader label .dash .box .in .b {
  fill: #8e8e8e;
}

#create .organizer .image .img .loader label .dash.over {
  opacity: 0;
  border-radius: 0.5rem;
}

#create .organizer .image .img .loader label .dash.over:hover {
  background: #ffffffba;
  opacity: 1;
}

#create .organizer .image .img .loader label .dash.over .box {
  border: none;
}

#create .organizer .image .img .loader label .dash.load {
  background: black;
  opacity: 0.8;
  border-radius: 0.5rem;
}

#create .organizer .image .img .loader label .dash.load .box {
  border: none;
}

#create {
  position: relative;
  overflow: auto;
}

#create .image {
  padding-top: 8rem;
  width: 100%;
  margin: auto;
}

#create .image .section {
  overflow: visible;
}

#create .image .img {
  width: 100%;
  margin: 0;
  padding: 0% 5% 0% 5%;
}

#create .image .img .loader {
  width: 720px;
  height: 405px;
  background-color: #efefef;
  border-radius: 1rem;
  margin: auto;
  position: relative;
  text-align: center;
}

#create .image .img .loader label {
  height: 100%;
  width: 100%;
  display: inline-block;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 0.5rem;
  border: 1px solid #d2d2d2;
}

#create .image .img .loader label .dash {
  display: inline-block;
  width: 100%;
  height: 100%;
  padding: 1rem;
}

#create .image .img .loader label .dash .box {
  border: dashed 2px #dadada;
  height: 100%;
  position: relative;
}

#create .image .img .loader label .dash .box .in {
  margin: auto;
  position: absolute;
  height: 10rem;
  top: 50%;
  margin-top: -3.5rem;
  width: 100%;
}

#create .image .img .loader label .dash .box .in .b {
  fill: #8e8e8e;
}

#create .image .img .loader label .dash.over {
  opacity: 0;
  border-radius: 0.5rem;
}

#create .image .img .loader label .dash.over:hover {
  background: #ffffffba;
  opacity: 1;
}

#create .image .img .loader label .dash.over .box {
  border: none;
}

#create .image .img .loader label .dash.load {
  background: black;
  opacity: 0.8;
  border-radius: 0.5rem;
}

#create .image .img .loader label .dash.load .box {
  border: none;
}

.prev-box {
  position: relative;
}

.preview {
  width: 100%;
  overflow: hidden;
  display: inline-block;
  position: absolute;
  background: red;
}

.organization-form .multiselect .option__desc,
.organization-form .multiselect .option__image {
  display: inline-block;
  vertical-align: middle;
}

.organization-form .multiselect .option__image {
  max-height: 80px;
  margin-right: 10px;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  border: 1px solid #ddd;
}

.organization-form .multiselect .option__title {
  font-size: 14px;
}

.organization-form .multiselect .option__small {
  font-size: 12px;
  display: block;
}

.image-upload-field {
  position: relative;
  margin-bottom: 2rem;
  padding-top: 3rem;
}

.image-upload-wrapper {
  border: 1px solid #ddd;
}

.image-upload-label {
  top: 1rem;
  font-size: 1.1rem;
  color: #b3b5bf;
}

.image-upload-wrapper,
.image-upload-wrapper img {
  width: 450px;
  height: 270px;
  border-radius: 5px;
  position: relative;
  display: block;
  cursor: pointer;
  font-size: 110px;
  -webkit-transition: width 0.5s ease-in-out;
  transition: width 0.5s ease-in-out;
  -webkit-transition: height 0.5s ease-in-out;
  transition: height 0.5s ease-in-out;
  border: 1px solid black;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
}

.image-upload-wrapper.imageloaded,
.image-upload-wrapper img.imageloaded {
  width: 100%;
  font-size: 40px;
  height: 500px;
  background-size: cover;
}

.image-upload-wrapper .image-upload-layover {
  opacity: 1;
  top: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  color: #fff;
  background-color: rgba(0, 0, 0, 0);
  font-size: 100px;
  box-sizing: border-box;
  -webkit-transition: background-color 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
  -webkit-transition: font-size 0.3s ease-in-out;
  transition: font-size 0.3s ease-in-out;
}

.image-upload-wrapper .image-upload-layover:hover {
  opacity: 0.8;
  background-color: rgba(0, 0, 0, 0.8);
}

.image-upload-wrapper .image-upload-layover .text-center {
  position: relative;
  opacity: 0;
  text-align: center;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.image-upload-wrapper .image-upload-layover .text-center:hover {
  opacity: 1;
}

.imgclick {
  width: 100px;
  height: 100px;
  background-size: contain;
  border-radius: 50px;
}

label.imgclick {
  position: relative;
  display: block;
  cursor: pointer;
}

.fileinput {
  display: none !important;
}

#create {
  position: relative;
  overflow: auto;
}

#create .title {
  padding-top: 5rem;
  width: 90%;
  margin: auto;
}

#create .title .text {
  width: 50%;
  float: left;
  margin: 0;
  padding: 0% 10% 0% 5%;
}

#create .title .image {
  min-height: 30rem;
  width: 50%;
  float: right;
  margin: 0;
}

#create {
  position: relative;
  overflow: auto;
}

#create .location {
  width: 100%;
}

#create .location .ctitle {
  padding: 0;
}

#create .location .text {
  width: 50%;
  float: left;
  margin: 0;
  padding: 5rem 8.7% 0% 9.5%;
}

#create .location .image {
  width: 50%;
  float: right;
  margin: 0;
  padding: 0;
  height: 100%;
  background: #f9f9f9;
}

#create {
  position: relative;
  overflow: auto;
}

#create .category {
  padding-top: 5rem;
  width: 90%;
  margin: auto;
}

#create .category .ctitle {
  margin-bottom: 1rem;
}

#create .category .text {
  width: 50%;
  float: left;
  margin: 0;
  padding: 0% 10% 0% 5%;
}

#create .category .image {
  width: 50%;
  float: right;
  margin: 0;
  padding: 0;
}

#create .category .image img {
  width: 100%;
  border-radius: 0.6rem;
}

#create {
  position: relative;
  overflow: auto;
}

#create .shows {
  padding-top: 5rem;
  width: 100%;
}

#create .shows .ctitle {
  padding: 0% 9.5% 0% 9.5%;
}

#create .shows .section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  overflow: hidden;
}

#create .shows .section .calendar {
  margin: 0;
  padding: 0% 5% 0% 0%;
}

#create .shows .section .pricing {
  margin: 0;
  padding: 0% 9% 0% 19.5%;
  margin-bottom: 20%;
}

#create .shows .ticket-box {
  box-shadow: -3px 5px 5px 1px #e8e8e899;
  padding: 2rem;
  border-radius: 5px 5px 5px 0px;
  margin-top: 15px;
  border: solid 1px #ebebeb;
  position: relative;
}

#create .shows .ticket-box-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  grid-column-gap: 1rem;
}

#create .shows button.delete-circle {
  border-radius: 100px;
  padding: 0.7rem 1rem;
  border: solid #ebebeb 1px;
  background: white;
  margin-right: -3.5rem;
  margin-top: 0.8rem;
  float: right;
  font-weight: 800;
  color: red;
}

#create .shows button.add-button {
  border: none;
  font-size: 1.5rem;
  font-weight: 600;
  color: #008489;
  width: 100%;
  padding: 1rem;
  border: solid 1px #ebebeb;
  border-top: none;
  border-radius: 0px 0px 50px 5px;
  box-shadow: -3px 5px 5px 1px #cecece40;
  text-align: left;
  margin-right: 4rem;
}

#create .shows div.add-button {
  position: absolute;
  margin-top: -1px;
  display: inline-block;
  z-index: 1;
  border-top: none;
}

#create .shows .cost {
  position: relative;
}

#create {
  position: relative;
  overflow: auto;
}

#create .description {
  padding-top: 5rem;
  width: 90%;
  margin: auto;
  position: relative;
}

#create .description .text {
  width: 50%;
  float: left;
  margin: 0;
  padding: 0% 10% 0% 5%;
}

#create .description .genre {
  width: 50%;
  float: right;
  margin: 0;
  padding: 0;
  background: red;
  position: relative;
}

#create .description .genre h3 {
  position: absolute;
  top: 0;
  left: -10%;
}

#create .description .multiselect {
  position: inherit;
}

#create .description .multiselect__select {
  display: none;
}

#create .description .multiselect__content-wrapper {
  width: 50%;
  top: 12.6rem;
  margin-left: 40%;
  border: 1px solid #616161;
  border-radius: 1rem;
  height: 65vh;
  max-height: 65vh !important;
}

#create .description .multiselect__option {
  border-bottom: 1px solid #949494;
}

#create .description .multiselect__option--highlight {
  background: #58b4b7;
}

#create .description .multiselect__option--selected {
  background: #008489;
  color: white;
  font-weight: 700;
}

#create {
  position: relative;
  overflow: visible;
}

#create .advisories {
  padding-top: 5rem;
  width: 90%;
  margin: auto;
}

#create .advisories .texta,
#create .advisories .textb,
#create .advisories .textc {
  width: 30%;
  float: left;
  margin: 0;
  padding: 0% 0% 0% 5%;
}

#create .advisories .texta .ctitle,
#create .advisories .textb .ctitle,
#create .advisories .textc .ctitle {
  padding: 0;
}

#create .advisories .texta .ctitle.pg,
#create .advisories .textb .ctitle.pg,
#create .advisories .textc .ctitle.pg {
  margin-top: 4rem;
}

#create .advisories .mobile {
  width: 64%;
  float: right;
  margin: 0;
  padding: 0% 0% 0% 5%;
}

.spinner .area {
  width: 200px;
  height: 200px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  margin: auto;
  -webkit-filter: url("#goo");
          filter: url("#goo");
  -webkit-animation: rotate-move 2s ease-in-out infinite;
          animation: rotate-move 2s ease-in-out infinite;
}

.dot {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #000;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.dot-3 {
  background-color: #f74d75;
  -webkit-animation: dot-3-move 2s ease infinite, index 6s ease infinite;
          animation: dot-3-move 2s ease infinite, index 6s ease infinite;
}

.dot-2 {
  background-color: #10beae;
  -webkit-animation: dot-2-move 2s ease infinite, index 6s -4s ease infinite;
          animation: dot-2-move 2s ease infinite, index 6s -4s ease infinite;
}

.dot-1 {
  background-color: #ffe386;
  -webkit-animation: dot-1-move 2s ease infinite, index 6s -2s ease infinite;
          animation: dot-1-move 2s ease infinite, index 6s -2s ease infinite;
}

@-webkit-keyframes dot-3-move {
  20% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }

  45% {
    -webkit-transform: translateY(-18px) scale(0.5);
            transform: translateY(-18px) scale(0.5);
  }

  60% {
    -webkit-transform: translateY(-45px) scale(0.5);
            transform: translateY(-45px) scale(0.5);
  }

  80% {
    -webkit-transform: translateY(-45px) scale(0.5);
            transform: translateY(-45px) scale(0.5);
  }

  100% {
    -webkit-transform: translateY(0px) scale(1);
            transform: translateY(0px) scale(1);
  }
}

@keyframes dot-3-move {
  20% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }

  45% {
    -webkit-transform: translateY(-18px) scale(0.5);
            transform: translateY(-18px) scale(0.5);
  }

  60% {
    -webkit-transform: translateY(-45px) scale(0.5);
            transform: translateY(-45px) scale(0.5);
  }

  80% {
    -webkit-transform: translateY(-45px) scale(0.5);
            transform: translateY(-45px) scale(0.5);
  }

  100% {
    -webkit-transform: translateY(0px) scale(1);
            transform: translateY(0px) scale(1);
  }
}

@-webkit-keyframes dot-2-move {
  20% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }

  45% {
    -webkit-transform: translate(-16px, 12px) scale(0.5);
            transform: translate(-16px, 12px) scale(0.5);
  }

  60% {
    -webkit-transform: translate(-40px, 30px) scale(0.5);
            transform: translate(-40px, 30px) scale(0.5);
  }

  80% {
    -webkit-transform: translate(-40px, 30px) scale(0.5);
            transform: translate(-40px, 30px) scale(0.5);
  }

  100% {
    -webkit-transform: translateY(0px) scale(1);
            transform: translateY(0px) scale(1);
  }
}

@keyframes dot-2-move {
  20% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }

  45% {
    -webkit-transform: translate(-16px, 12px) scale(0.5);
            transform: translate(-16px, 12px) scale(0.5);
  }

  60% {
    -webkit-transform: translate(-40px, 30px) scale(0.5);
            transform: translate(-40px, 30px) scale(0.5);
  }

  80% {
    -webkit-transform: translate(-40px, 30px) scale(0.5);
            transform: translate(-40px, 30px) scale(0.5);
  }

  100% {
    -webkit-transform: translateY(0px) scale(1);
            transform: translateY(0px) scale(1);
  }
}

@-webkit-keyframes dot-1-move {
  20% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }

  45% {
    -webkit-transform: translate(16px, 12px) scale(0.5);
            transform: translate(16px, 12px) scale(0.5);
  }

  60% {
    -webkit-transform: translate(40px, 30px) scale(0.5);
            transform: translate(40px, 30px) scale(0.5);
  }

  80% {
    -webkit-transform: translate(40px, 30px) scale(0.5);
            transform: translate(40px, 30px) scale(0.5);
  }

  100% {
    -webkit-transform: translateY(0px) scale(1);
            transform: translateY(0px) scale(1);
  }
}

@keyframes dot-1-move {
  20% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }

  45% {
    -webkit-transform: translate(16px, 12px) scale(0.5);
            transform: translate(16px, 12px) scale(0.5);
  }

  60% {
    -webkit-transform: translate(40px, 30px) scale(0.5);
            transform: translate(40px, 30px) scale(0.5);
  }

  80% {
    -webkit-transform: translate(40px, 30px) scale(0.5);
            transform: translate(40px, 30px) scale(0.5);
  }

  100% {
    -webkit-transform: translateY(0px) scale(1);
            transform: translateY(0px) scale(1);
  }
}

@-webkit-keyframes rotate-move {
  55% {
    -webkit-transform: translate(-50%, -50%) rotate(0deg);
            transform: translate(-50%, -50%) rotate(0deg);
  }

  80% {
    -webkit-transform: translate(-50%, -50%) rotate(360deg);
            transform: translate(-50%, -50%) rotate(360deg);
  }

  100% {
    -webkit-transform: translate(-50%, -50%) rotate(360deg);
            transform: translate(-50%, -50%) rotate(360deg);
  }
}

@keyframes rotate-move {
  55% {
    -webkit-transform: translate(-50%, -50%) rotate(0deg);
            transform: translate(-50%, -50%) rotate(0deg);
  }

  80% {
    -webkit-transform: translate(-50%, -50%) rotate(360deg);
            transform: translate(-50%, -50%) rotate(360deg);
  }

  100% {
    -webkit-transform: translate(-50%, -50%) rotate(360deg);
            transform: translate(-50%, -50%) rotate(360deg);
  }
}

@-webkit-keyframes index {
  0%, 100% {
    z-index: 3;
  }

  33.3% {
    z-index: 2;
  }

  66.6% {
    z-index: 1;
  }
}

@keyframes index {
  0%, 100% {
    z-index: 3;
  }

  33.3% {
    z-index: 2;
  }

  66.6% {
    z-index: 1;
  }
}

#thanks {
  margin-top: -7rem;
}

#thanks.end {
  background-image: url("/storage/website-files/create-background.jpg");
  background-size: cover;
  height: 100vh;
}

#thanks.end .content {
  padding: 7% 2% 2rem 7%;
  width: 40%;
  float: left;
}

#thanks.end .content .text {
  margin-bottom: 4rem;
}

#thanks.end .content .text h2 {
  font-size: 3.2rem;
  font-weight: 400;
}

#thanks.end a.cbut {
  background: #008489;
  padding: 1rem;
  border-radius: 0.5rem;
  color: white;
}

.organization-form .multiselect .option__desc,
.organization-form .multiselect .option__image {
  display: inline-block;
  vertical-align: middle;
}

.organization-form .multiselect .option__image {
  max-height: 80px;
  margin-right: 10px;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  border: 1px solid #ddd;
}

.organization-form .multiselect .option__title {
  font-size: 14px;
}

.organization-form .multiselect .option__small {
  font-size: 12px;
  display: block;
}

/*-----------------------initial create page---------------------*/

.initial_create {
  background-image: url("/storage/website-files/create-background.jpg");
  background-size: cover;
  height: 94vh;
}

.initial_create-text {
  width: 45%;
  float: right;
  margin-top: 10%;
}

#cover {
  width: 100px;
  position: relative;
}

input#checkbox {
  margin: 0 !important;
  width: 100%;
  height: 4.2rem;
  cursor: pointer;
  opacity: 0;
  position: relative;
  z-index: 3;
}

#bar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ffffff;
  z-index: 1;
  border-radius: 5px;
  border: 1px solid #e8e8e8;
}

#knob {
  position: absolute;
  top: 0.5rem;
  left: 0.5rem;
  width: 3.6rem;
  height: 3.4rem;
  background-color: #fff;
  border-radius: 5px;
  -webkit-transition: left 0.3s cubic-bezier(0.18, 0.89, 0.32, 1.28), margin-left 0.3s ease, width 0.3s ease, border-radius 0.3s ease;
  transition: left 0.3s cubic-bezier(0.18, 0.89, 0.32, 1.28), margin-left 0.3s ease, width 0.3s ease, border-radius 0.3s ease;
  box-shadow: 0px 1px 1px #7d7d7d;
  z-index: 2;
  border: 1px solid #b5b5b5;
}

#knob p {
  font-size: 1.3rem;
  margin: 0.8rem 0rem 0rem 0.7rem;
  color: #7b7b7b;
}

#checkbox:active ~ #knob {
  width: 66px;
  border-radius: 0.5rem;
}

#checkbox:checked ~ #knob {
  left: 58px;
}

#checkbox:checked ~ #knob p {
  font-size: 1.3rem;
  margin: 0.8rem 0rem 0rem 0.5rem;
}

#checkbox:checked ~ #bar {
  background-color: #008489;
}

#checkbox:checked:active ~ #knob {
  margin-left: -32px;
}

