@import url(https://assets-cdn.github.com/assets/gist-embed-1baaff35daab552f019ad459494450f1.css);.medium-editor-container * {
    outline: none;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

.medium-editor-container {
    height: 100%;
    margin: 0 auto;
    position: relative;
    padding: 2rem 0;
    font-size: 1.2rem;
}

.medium-editor-container p, 
.medium-editor-container h1, 
.medium-editor-container h2,
.medium-editor-container h3,
.medium-editor-container h4,
.medium-editor-container h5,
.medium-editor-container h6,
.medium-editor-container ul,
.medium-editor-container ol,
.medium-editor-container blockquote {
    max-width: 1000px;
    margin: 0 auto;
}
.medium-editor-container ul,
.medium-editor-container ol {
    margin-left: auto !important;
    padding-left: 30px;
}

.medium-editor-container .medium-editor-element:empty, .medium-editor-container .medium-editor-placeholder {
    max-width: 1000px;
    margin: 0 auto;
}

.medium-editor-container .editor {
    max-width: 1000px;
    margin: 0 auto;
}

.medium-editor-container .medium-editor-placeholder::after {
    color: #BBB;
    max-width: 1000px;
    margin: 0 auto;
    display: block;
}

.medium-editor-container .editor.has-content {
    max-width: 100%;
    margin: 0 auto;
}

.medium-editor-container .editor.has-content.medium-editor-placeholder::after {
    display: none;
}


.medium-editor-container h1 {
    font-size: 2.5em;
    margin-bottom: 0.1em;
}

.medium-editor-container h2 {
    font-size: 2.2em;
    margin-top: 0.2em;
    margin-bottom: 0.1em;
}

.medium-editor-container h3 {
    font-size: 1.9em;
    margin-top: 0.2em;
    margin-bottom: 0.1em;
}

.medium-editor-container h4 {
    font-size: 1.6em;
    margin-top: 0.2em;
    margin-bottom: 0.1em;
}

.medium-editor-container h5 {
    font-size: 1.3em;
    margin-top: 0.2em;
    margin-bottom: 0.1em;
}

.medium-editor-container h6 {
    font-size: 1em;
    margin-bottom: 0.1em;
}

.medium-editor-container p {
    margin-bottom: 1em;
}
.medium-editor-container ul {
    margin-left: 30px;
    list-style: disc;
}
.medium-editor-container ul li {
    margin-bottom: 0.5em
}
.medium-editor-container ol {
    margin-left: 30px;
}
.medium-editor-container ol li {
    margin-bottom: 0.5em
}

.medium-editor-container iframe{
    width: 1px;
    min-width: 100%;
}

.medium-editor-container blockquote {
    border-left: 3px solid #3B3E3E;
    padding-left: 30px;
    margin-bottom: 1.5em;
    margin-top: 1.5em;
    font-style: italic;
}

.medium-toolbar-arrow-under:after {
    border-color: #222526 transparent transparent transparent;
    top: 48px;
}

.medium-toolbar-arrow-over:before {
    border-color: transparent transparent #222526 transparent;
}

.medium-editor-toolbar {
    background-color: #222526;
    border: 1px solid #222526;
    border-radius: 4px;
}

.medium-editor-toolbar li button {
    background-color: transparent;
    border: none;
    border-right: 1px solid #222526;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    color: #fff;
    height: 48px;
    min-width: 48px;
    -webkit-transition: background-color .2s ease-in, color .2s ease-in;
    transition: background-color .2s ease-in, color .2s ease-in;
}

.medium-editor-toolbar li button:hover {
    background-color: transparent;
    color: #00BD6A;
}

.medium-editor-toolbar li .medium-editor-button-first {
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
}

.medium-editor-toolbar li .medium-editor-button-last {
    border-bottom-right-radius: 4px;
    border-right: none;
    border-top-right-radius: 4px;
}

.medium-editor-toolbar li .medium-editor-button-active {
    background-color: transparent;
    color: #00BD6A;
}

.medium-editor-toolbar-form {
    background: #222526;
    border-radius: 4px;
    color: #fff;
}

.medium-editor-toolbar-form .medium-editor-toolbar-input {
    background: #222526;
    color: #fff;
    height: 48px;
}

.medium-editor-toolbar-form .medium-editor-toolbar-input::-webkit-input-placeholder {
    color: #fff;
    color: rgba(255, 255, 255, 0.8);
}

.medium-editor-toolbar-form .medium-editor-toolbar-input:-moz-placeholder {
    /* Firefox 18- */
    color: #fff;
    color: rgba(255, 255, 255, 0.8);
}

.medium-editor-toolbar-form .medium-editor-toolbar-input::-moz-placeholder {
    /* Firefox 19+ */
    color: #fff;
    color: rgba(255, 255, 255, 0.8);
}

.medium-editor-toolbar-form .medium-editor-toolbar-input:-ms-input-placeholder {
    color: #fff;
    color: rgba(255, 255, 255, 0.8);
}

.medium-editor-toolbar-form a {
    color: #fff;
}

.medium-editor-toolbar-anchor-preview {
    background: #222526;
    border-radius: 4px;
    color: #fff;
}

.medium-editor-placeholder:after {
    color: #222526;
}

.medium-editor-container * {
    outline: none;
}

.medium-editor-container .insert-image-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: fixed;
    left: 100px;
    top: 100px;
    -webkit-transform: translate(-54px, -7px);
            transform: translate(-54px, -7px);
}

.medium-editor-container .insert-image-container .btn-toggle {
    border: 1px solid #DDD;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    font-size: 16px;
    color: #555;
    background-color: #FFF;
}

.medium-editor-container .image-handler {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: fixed;
    left: 50%;
    top: 100px;
    -webkit-transform: translate(-50%, -20px);
            transform: translate(-50%, -20px);
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 5px;
    padding-left: 10px;
    padding-right: 10px;
}

.medium-editor-container .image-handler .btn-toggle {
    border: 0;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    font-size: 16px;
    color: #FFF;
    background-color: transparent;
}

.medium-editor-container .image-handler .btn-toggle img {
    display: block;
    width: 100%;
    height: auto;
}

.medium-editor-container .image-handler .btn-toggle:hover {
    cursor: pointer;
    color: #00BD6A;
}

.medium-editor-container .insert-image-container .insert-image-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.medium-editor-container .insert-image-container .insert-image-menu .btn-toggle {
    margin-left: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}
.medium-editor-container .editor-image {
    display: block;
    max-width: 1000px;
    margin: 2rem auto;
}

.medium-editor-container .editor-image img {
    width: 100%;
    height: auto;
    display: block;
}

.medium-editor-container .editor-image-description {
    max-width: 1000px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 2rem;
    margin-top: -1rem;
    font-size: 0.8rem;
    color: #999;
    position: relative;
}

.medium-editor-container .editor-image-description.is-empty::after { 
    content: "Image Description";
    color: #BBB;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
}

.medium-editor-container .editor-image + .editor-image-description.is-empty {
    display: none;
}

.medium-editor-container .editor-image.is-focus + .editor-image-description.is-empty {
    display: block;
}

.medium-editor-container .editor-image img:hover {
    cursor: pointer;
}
.medium-editor-container .editor-image.is-expand {
    max-width: 1200px;
}
.medium-editor-container .editor-image.is-full {
    max-width: 100%;
}
.medium-editor-container .editor-image input {
    margin: 0 auto;
    border: 0;
    display: block;
    font-size: 0.7rem;
    padding: 0.5rem;
    width: 100%;
    text-align: center;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    color: #888;
    margin-bottom: 2rem;
}

.medium-editor-container .editor-embed-container.is-inactive {
    display: none;
}

.medium-editor-container .editor-embed-input.is-inactive {
    display: none;
}

.medium-editor-container .editor-embed > a {
    display: none;
}
@-webkit-keyframes medium-editor-image-loading {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0); }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1); } }

@keyframes medium-editor-image-loading {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0); }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1); } }

@-webkit-keyframes medium-editor-pop-upwards {
  0% {
    opacity: 0;
    -webkit-transform: matrix(0.97, 0, 0, 1, 0, 12);
            transform: matrix(0.97, 0, 0, 1, 0, 12); }
  20% {
    opacity: .7;
    -webkit-transform: matrix(0.99, 0, 0, 1, 0, 2);
            transform: matrix(0.99, 0, 0, 1, 0, 2); }
  40% {
    opacity: 1;
    -webkit-transform: matrix(1, 0, 0, 1, 0, -1);
            transform: matrix(1, 0, 0, 1, 0, -1); }
  100% {
    -webkit-transform: matrix(1, 0, 0, 1, 0, 0);
            transform: matrix(1, 0, 0, 1, 0, 0); } }

@keyframes medium-editor-pop-upwards {
  0% {
    opacity: 0;
    -webkit-transform: matrix(0.97, 0, 0, 1, 0, 12);
            transform: matrix(0.97, 0, 0, 1, 0, 12); }
  20% {
    opacity: .7;
    -webkit-transform: matrix(0.99, 0, 0, 1, 0, 2);
            transform: matrix(0.99, 0, 0, 1, 0, 2); }
  40% {
    opacity: 1;
    -webkit-transform: matrix(1, 0, 0, 1, 0, -1);
            transform: matrix(1, 0, 0, 1, 0, -1); }
  100% {
    -webkit-transform: matrix(1, 0, 0, 1, 0, 0);
            transform: matrix(1, 0, 0, 1, 0, 0); } }

.medium-editor-anchor-preview {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  left: 0;
  line-height: 1.4;
  max-width: 280px;
  position: absolute;
  text-align: center;
  top: 0;
  word-break: break-all;
  word-wrap: break-word;
  visibility: hidden;
  z-index: 2000; }
  .medium-editor-anchor-preview a {
    color: #fff;
    display: inline-block;
    margin: 5px 5px 10px; }

.medium-editor-anchor-preview-active {
  visibility: visible; }

.medium-editor-dragover {
  background: #ddd; }

.medium-editor-image-loading {
  -webkit-animation: medium-editor-image-loading 1s infinite ease-in-out;
          animation: medium-editor-image-loading 1s infinite ease-in-out;
  background-color: #333;
  border-radius: 100%;
  display: inline-block;
  height: 40px;
  width: 40px; }

.medium-editor-placeholder {
  position: relative; }
  .medium-editor-placeholder:after {
    content: attr(data-placeholder) !important;
    font-style: italic;
    position: absolute;
    left: 0;
    top: 0;
    white-space: pre;
    padding: inherit;
    margin: inherit; }

.medium-editor-placeholder-relative {
  position: relative; }
  .medium-editor-placeholder-relative:after {
    content: attr(data-placeholder) !important;
    font-style: italic;
    position: relative;
    white-space: pre;
    padding: inherit;
    margin: inherit; }

.medium-toolbar-arrow-under:after, .medium-toolbar-arrow-over:before {
  border-style: solid;
  content: '';
  display: block;
  height: 0;
  left: 50%;
  margin-left: -8px;
  position: absolute;
  width: 0; }

.medium-toolbar-arrow-under:after {
  border-width: 8px 8px 0 8px; }

.medium-toolbar-arrow-over:before {
  border-width: 0 8px 8px 8px;
  top: -8px; }

.medium-editor-toolbar {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  left: 0;
  position: absolute;
  top: 0;
  visibility: hidden;
  z-index: 2000; }
  .medium-editor-toolbar ul {
    margin: 0;
    padding: 0; }
  .medium-editor-toolbar li {
    float: left;
    list-style: none;
    margin: 0;
    padding: 0; }
    .medium-editor-toolbar li button {
      box-sizing: border-box;
      cursor: pointer;
      display: block;
      font-size: 14px;
      line-height: 1.33;
      margin: 0;
      padding: 15px;
      text-decoration: none; }
      .medium-editor-toolbar li button:focus {
        outline: none; }
    .medium-editor-toolbar li .medium-editor-action-underline {
      text-decoration: underline; }
    .medium-editor-toolbar li .medium-editor-action-pre {
      font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
      font-size: 12px;
      font-weight: 100;
      padding: 15px 0; }

.medium-editor-toolbar-active {
  visibility: visible; }

.medium-editor-sticky-toolbar {
  position: fixed;
  top: 1px; }

.medium-editor-relative-toolbar {
  position: relative; }

.medium-editor-toolbar-active.medium-editor-stalker-toolbar {
  -webkit-animation: medium-editor-pop-upwards 160ms forwards linear;
          animation: medium-editor-pop-upwards 160ms forwards linear; }

.medium-editor-action-bold {
  font-weight: bolder; }

.medium-editor-action-italic {
  font-style: italic; }

.medium-editor-toolbar-form {
  display: none; }
  .medium-editor-toolbar-form input,
  .medium-editor-toolbar-form a {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; }
  .medium-editor-toolbar-form .medium-editor-toolbar-form-row {
    line-height: 14px;
    margin-left: 5px;
    padding-bottom: 5px; }
  .medium-editor-toolbar-form .medium-editor-toolbar-input,
  .medium-editor-toolbar-form label {
    border: none;
    box-sizing: border-box;
    font-size: 14px;
    margin: 0;
    padding: 6px;
    width: 316px;
    display: inline-block; }
    .medium-editor-toolbar-form .medium-editor-toolbar-input:focus,
    .medium-editor-toolbar-form label:focus {
      -webkit-appearance: none;
         -moz-appearance: none;
              appearance: none;
      border: none;
      box-shadow: none;
      outline: 0; }
  .medium-editor-toolbar-form a {
    display: inline-block;
    font-size: 24px;
    font-weight: bolder;
    margin: 0 10px;
    text-decoration: none; }

.medium-editor-toolbar-form-active {
  display: block; }

.medium-editor-toolbar-actions:after {
  clear: both;
  content: "";
  display: table; }

.medium-editor-element {
  word-wrap: break-word;
  min-height: 30px; }
  .medium-editor-element img {
    max-width: 100%; }
  .medium-editor-element sub {
    vertical-align: sub; }
  .medium-editor-element sup {
    vertical-align: super; }

.medium-editor-hidden {
  display: none; }
@charset "UTF-8";

input,
textarea,
button:focus {
  outline: 0;
}

input,
textarea {
  box-sizing: border-box;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus textarea:-webkit-autofill,
textarea:-webkit-autofill:hover textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0px 1000px #ffffff inset !important;
}

.dis {
  pointer-events: none;
}

.edit-events {
  width: 300px;
  margin: auto;
}

.edit-events img {
  width: 100%;
}

.tab-events {
  margin-top: 5rem;
  min-height: 320px;
}

.editevents {
  max-width: 72%;
  margin: auto;
  padding-top: 5rem;
}

.editevents .section .title-block {
  width: 100%;
  height: 8rem;
  position: relative;
}

.editevents .section .title-block .image {
  width: 6rem;
  height: 6rem;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: inline-block;
  float: left;
  border-radius: 1rem;
}

.editevents .section .title-block .edit {
  font-size: 1.4rem;
  padding-top: 0.6rem;
  padding-bottom: 0.6rem;
  font-weight: 600;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  line-height: 2.2rem;
  min-width: 4.8rem;
  color: #008489;
  border-radius: 0.4rem;
  border-width: 0.1rem;
  background: white;
  border-color: #008489;
}

.editevents .section .title-block .prev {
  font-size: 1.4rem;
  padding-top: 0.6rem;
  padding-bottom: 0.6rem;
  font-weight: 600;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  line-height: 2.2rem;
  min-width: 4.8rem;
  color: white;
  border-radius: 0.4rem;
  border-width: 0.1rem;
  background: #008489;
  border-color: transparent;
}

.editevents .section .title {
  float: left;
  overflow-wrap: break-word;
  font-size: 4rem;
  font-weight: 800;
  line-height: 8rem;
  color: #484848;
  margin: 0px;
  padding: 0;
}

.editevents .section .buttons {
  float: right;
}

.editevents .section .enew {
  background-color: #efefef;
  border-radius: 0.5rem;
}

.editevents .section .enew .body {
  border: dashed 2px #dadada;
  border-radius: 0.5rem;
  position: relative;
  padding: 33%;
}

.editevents .section .enew .body .event {
  position: absolute;
  top: 50%;
  height: 7rem;
  margin-top: -3.5rem;
  width: 15rem;
  left: 50%;
  margin-left: -7.5rem;
  text-align: center;
}

.edit-events-page {
  max-width: 100rem;
  margin: auto;
  padding-top: 4rem;
}

.show-heart-location {
  position: absolute;
  right: 0;
  background: white;
  padding: 0.7rem 1.3rem 0.7rem 0.9rem;
  border-radius: 0.5rem;
  top: 0;
  margin: 5%;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 0px 0px, rgba(0, 0, 0, 0.04) 0px 0px 0px 0.5px;
}

.show-heart-location .unhearted {
  fill: #ffffff;
  stroke: #717171;
}

.searchFilterBar {
  width: 100%;
  height: 5rem;
  border-bottom: 1px solid #ebebeb;
}

.event-head-section {
  position: relative;
  margin-left: 24px;
  margin-right: 24px;
  overflow: auto;
}

.event-title {
  width: 33.3333333333%;
  float: left;
  padding-left: 8px;
  padding-right: 8px;
  min-height: 1px;
  position: relative;
}

.event-title_box {
  height: 536px;
  background-color: #F2F2F2;
}

.event-title_content {
  width: 100%;
  height: 100%;
  position: absolute;
  padding: 40px;
}

.event-title_text {
  font-size: 46px;
  line-height: 52px;
  max-height: 312px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 6;
  -webkit-box-orient: vertical;
  color: #484848;
  margin-top: 3rem;
}

.event-image {
  width: 66.6666666667%;
  float: left;
  height: 536px;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-color: #F2F2F2;
  position: relative;
}

.event-body {
  margin-top: 64px;
  margin-bottom: 72px;
  padding: 0rem 8rem;
  overflow: auto;
}

.event-description-section {
  overflow: auto;
  width: 100%;
}

.event-top-info {
  margin-bottom: 1.6rem;
  display: -webkit-inline-box;
  display: inline-flex;
}

.event-top-info .text {
  word-wrap: break-word;
  font-size: 2rem;
  font-weight: 800;
  line-height: 1.2857142857em;
  color: #484848;
  margin-right: 2rem;
}

.event-description {
  padding: 1rem;
  min-height: 1px;
  position: relative;
  width: 58.3333333333%;
  float: left;
}

.event-description_text {
  margin: 0px;
  word-wrap: break-word;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.75em;
  color: #484848;
}

.event-organizer {
  display: grid;
  grid-template-columns: 10rem 1fr;
  padding-left: 8px;
  padding-right: 8px;
  min-height: 1px;
  position: relative;
  width: 33.3333333333%;
  float: left;
  margin-left: 8.3333333333%;
}

.event-organizer_image .img {
  height: 10rem;
  width: 10rem;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  border-radius: 5rem;
}

.event-organizer_description {
  padding: 1rem;
}

.event-organizer_description .organizer-name {
  margin: 0px;
  word-wrap: break-word;
  font-size: 2rem;
  font-weight: 800;
  line-height: 1.2857142857em;
  color: #484848;
}

.event-organizer_description .organizer-description {
  margin: 0px;
  word-wrap: break-word;
  font-size: 16px;
  font-weight: 400;
  line-height: 2rem;
  color: #484848;
}

.location-section {
  margin-top: 7rem;
  overflow: auto;
  width: 100%;
}

.location-place .text {
  margin: 0px;
  word-wrap: break-word;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.75em;
  color: #484848;
}

.location-map {
  position: relative;
}

.event-bottom-bar {
  position: fixed;
  bottom: 0px;
  left: 0px;
  right: 0px;
  background: white;
  display: grid;
  grid-template-columns: 1fr 10rem 12rem;
  z-index: 900;
  padding: 1.6rem 8rem;
  -webkit-box-align: center;
          align-items: center;
  box-shadow: 0 1px 4px 1px rgba(0, 0, 0, 0.14);
}

.event-bottom-bar .event-name {
  margin: 0px;
  word-wrap: break-word;
  font-size: 12px;
  font-weight: 800;
  line-height: 1.3333333333em;
  letter-spacing: 0.0833333333em;
  color: #767676;
}

.event-bottom-bar .event-price {
  margin: 0px;
  word-wrap: break-word;
  font-size: 16px;
  font-weight: 800;
  line-height: 1.375em;
  color: #484848;
}

.event-bottom-bar button {
  background: #914669;
  float: right;
}

.popup-content .info {
  display: inline-block;
  padding: 1rem;
  position: absolute;
}

.popup-content .info .name {
  font-weight: 400;
  color: #222222;
  font-size: 18px;
  line-height: 24px;
  max-height: 24px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.popup-content .info .price {
  -webkit-box-align: center;
  align-items: center;
  color: #222222;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
}

.index .categories {
  padding: 8rem 0rem 4rem 0rem;
  width: 100%;
  position: relative;
}

.index .categories .block {
  display: inline-block;
  width: 25%;
  position: relative;
  margin-right: 1rem;
}

.index .categories .block .item {
  box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 4px 0px;
  margin-bottom: 0.4rem;
  width: 100%;
  border-width: 0.1rem;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.1);
  border-radius: 0.3rem;
  overflow: hidden;
  height: 6rem;
}

.index .categories .block .item .image {
  height: 10rem;
  width: 10rem;
  background-size: cover;
  background-repeat: no-repeat;
  display: inline-block;
  float: left;
}

.index .categories .block .item .text {
  display: inline-block;
  float: left;
  padding-left: 1rem;
  padding-right: 1rem;
}

.index .categories .block .item .text h4 {
  overflow-wrap: break-word;
  font-size: 14px;
  font-weight: 800;
  line-height: 1.28571em;
  color: #484848;
  margin-top: 2.2rem;
}

.search .filter {
  width: 100%;
  height: 5rem;
  border-bottom: 1px solid #ebebeb;
  padding: 0.55rem 2.5rem;
  display: inline-grid;
  grid-template-columns: repeat(5, auto);
  -webkit-box-pack: left;
          justify-content: left;
  -webkit-box-align: center;
          align-items: center;
  z-index: 900;
  position: relative;
}

.search .filter .flatpickr-input,
.search .filter .form-control.input {
  display: none;
}

.search .filter .item {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  width: 100%;
  margin-right: 1.5rem;
}

.search .filter .item .el .button .click {
  padding: 0.8rem;
  background: white;
  display: inline-block;
  border-radius: 2rem;
  border: 1px solid black;
  font-weight: 300;
}

.search .filter .item .el .button .click:hover {
  background: black;
  color: white;
}

.search .filter .item .el .button p {
  font-size: 1.4rem;
}

.search .filter .item .el .b_over {
  position: absolute;
  background: white;
  border-radius: 1rem;
  border: 1px solid black;
  margin-top: 2.5rem;
  margin-left: -0.6rem;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 10px 37px;
}

.search .filter .item .el .b_over .box {
  padding: 5rem 3rem;
}

.search .filter .item .el .b_over .save {
  padding: 1rem;
  border-top: 1px solid #929292;
  margin-top: 0.3rem;
}

.search .filter .item .el .b_over .save button.cancel {
  background: white;
  border: 1px solid darkgrey;
  color: #989898;
  padding: 0.3rem 1rem;
}

.search .filter .item .el .b_over .save button.submit {
  float: right;
  padding: 0.3rem 1rem;
}

.search .filter .item .el .b_over .flatpickr-calendar {
  box-shadow: none;
}

.search .filter .item .el .b_over.cat {
  width: 35rem;
}

.search .filter .item .el .b_over.cat .box {
  padding: 0rem;
}

.search .filter .item .el .b_over.cat .box .multiselect__tags {
  border: none;
  padding: 18px 40px 0 8px;
  background: none;
}

.search .filter .item .el .b_over.price {
  width: 35rem;
}

.search .list {
  width: 60%;
  display: inline-block;
  padding: 2rem;
}

.search .map {
  width: 40%;
  display: inline-block;
  position: fixed;
  overflow: hidden;
}

.search .map .search {
  position: absolute;
  left: 50%;
  top: 0;
  z-index: 900;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 4px 24px, rgba(0, 0, 0, 0.04) 0px 0px 0px 1px !important;
  border-radius: 1rem;
  background: white;
  width: 30rem;
  margin-left: -15rem;
  margin-top: 2.4rem;
}

.search .map .search p {
  display: inline-block;
  margin: 0;
  padding: 1rem;
}

.search .map .search input {
  margin: 1rem;
}

.search .map .checkbox {
  width: 3rem;
  height: 3rem;
  background: #f64747;
  position: relative;
  border-radius: 0.5rem;
  display: inline-block;
  margin: 1rem;
}

.search .map .checkbox input:checked + .check {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 8px;
  height: 14px;
  border-width: 0 2px 2px 0;
  border-style: solid;
  border-color: #fff;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  margin-left: -4px;
  margin-top: -7px;
}

.search .map .checkbox input[type=checkbox] {
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
}

.search .top {
  margin-top: 8px;
  margin-bottom: 20px;
}

.search .top .ln {
  border: solid 0.5px #EBEBEB;
}

.search .info {
  display: inline-block;
  padding-left: 1rem;
  position: absolute;
}

.search .info .name {
  font-weight: 400;
  color: #222222;
  font-size: 18px;
  line-height: 24px;
  max-height: 24px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.search .info .price {
  -webkit-box-align: center;
  align-items: center;
  color: #222222;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
}

.showmap {
  position: absolute;
  right: 0;
}

.showmap p {
  display: inline-block;
  line-height: 4rem;
  position: absolute;
  margin-left: -9.3rem;
}

.showmap #cover {
  width: 5rem;
  position: relative;
  display: inline-block;
  margin-right: 2rem;
}

.showmap input#checkbox {
  margin: 0 !important;
  width: 100%;
  height: 3.2rem;
  cursor: pointer;
  opacity: 0;
  position: relative;
  z-index: 3;
}

.showmap #bar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ffffff;
  z-index: 1;
  border-radius: 2rem;
  border: 1px solid #e8e8e8;
}

.showmap #knob {
  position: absolute;
  top: 0.3rem;
  left: 0.5rem;
  width: 2.8rem;
  height: 2.8rem;
  background-color: #fff;
  border-radius: 2rem;
  -webkit-transition: left 0.3s cubic-bezier(0.18, 0.89, 0.32, 1.28), margin-left 0.3s ease, width 0.3s ease, border-radius 0.3s ease;
  transition: left 0.3s cubic-bezier(0.18, 0.89, 0.32, 1.28), margin-left 0.3s ease, width 0.3s ease, border-radius 0.3s ease;
  box-shadow: 0px 1px 1px #7d7d7d;
  z-index: 2;
  border: 1px solid #b5b5b5;
}

.showmap #checkbox:active ~ #knob {
  width: 36px;
  border-radius: 2rem;
}

.showmap #checkbox:checked ~ #knob {
  left: 1.9rem;
}

.showmap #checkbox:checked ~ #knob p {
  font-size: 1.3rem;
  margin: 0;
}

.showmap #checkbox:checked ~ #bar {
  background-color: #808080;
}

.showmap #checkbox:checked:active ~ #knob {
  margin-left: -12px;
}

#grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 15px 15px;
}

#grid .image {
  padding: 33%;
  border-radius: 4px;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

#grid .image:hover div.heart {
  visibility: visible;
  opacity: 1;
}

#grid .image .heart {
  position: absolute;
  right: 5%;
  top: 5%;
  border-radius: 50%;
  width: 4rem;
  height: 4rem;
  background-color: white;
  border: 1px solid white;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 0px 0px, rgba(0, 0, 0, 0.04) 0px 0px 0px 0.5px;
  -webkit-transition-duration: 0.3s;
  -webkit-transition-property: -webkit-transform;
  -webkit-transition-property: visibility, -webkit-transform;
  transition-property: visibility, -webkit-transform;
  transition-property: transform, visibility;
  transition-property: transform, visibility, -webkit-transform;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  visibility: hidden;
  opacity: 0;
}

#grid .image .heart:hover {
  -webkit-transform: scale(1.07);
  transform: scale(1.07);
}

#grid .etitle h3 {
  margin: 1rem 0rem 0.5rem 0rem;
  font-size: 1.6rem;
  font-weight: 400;
}

#grid .eprice h4 {
  margin: 0;
  display: inline-block;
  margin-right: 0.5rem;
}

#grid .eprice p {
  margin: 0;
  display: inline-block;
}

#grid .item {
  position: relative;
}

#grid .item:hover .del {
  visibility: visible;
  opacity: 1;
}

#grid .item .del {
  position: relative;
  float: right;
  border: 1px solid #f4645f;
  padding: 1rem;
  background: #f4645f;
  color: white;
  border-radius: 0.5rem;
  margin: 0.3rem;
  visibility: hidden;
  opacity: 0;
}

.hearted {
  fill: #FF5A5F;
  fill-opacity: 1;
  stroke: #FF5A5F;
  height: 24px;
  width: 24px;
  overflow: visible;
  stroke-width: 2;
  margin-left: 0.9rem;
  margin-top: 1rem;
}

.unhearted {
  fill: none;
  fill-opacity: 0;
  stroke: #000;
  width: 24px;
  stroke-width: 2;
  margin-left: 0.9rem;
  margin-top: 1rem;
}

.search .image-box {
  width: 30rem;
  height: 20rem;
  display: inline-block;
}

.search .image-box .image {
  padding: 33%;
  border-radius: 4px;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.search .image-box .image:hover div.heart {
  visibility: visible;
  opacity: 1;
}

.search .image-box .image .heart {
  position: absolute;
  right: 5%;
  top: 5%;
  border-radius: 50%;
  width: 4rem;
  height: 4rem;
  background-color: white;
  border: 1px solid white;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 0px 0px, rgba(0, 0, 0, 0.04) 0px 0px 0px 0.5px;
  -webkit-transition-duration: 0.3s;
  -webkit-transition-property: -webkit-transform;
  -webkit-transition-property: visibility, -webkit-transform;
  transition-property: visibility, -webkit-transform;
  transition-property: transform, visibility;
  transition-property: transform, visibility, -webkit-transform;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  visibility: hidden;
  opacity: 0;
}

.search .image-box .image .heart:hover {
  -webkit-transform: scale(1.07);
  transform: scale(1.07);
}

.login-container {
  background: white;
  overflow: auto;
  position: relative;
}

.white-cover-top {
  background: white;
  -webkit-clip-path: polygon(0% 0%, 0% 100%, 34% 100%, 55% 0%);
          clip-path: polygon(0% 0%, 0% 100%, 34% 100%, 55% 0%);
  height: 80vh;
  position: absolute;
  width: 100%;
}

.white-cover-bottom {
  background: white;
  -webkit-transform: skew(-40deg);
          transform: skew(-40deg);
  height: 80vh;
  position: absolute;
}

.login {
  width: 100%;
  height: 80vh;
  padding-top: 15rem;
}

.login .welcome {
  z-index: 1;
  position: relative;
}

.login-block {
  position: absolute;
  width: 40rem;
  left: 50%;
  margin-left: -20rem;
}

.login .field {
  width: 84%;
  height: 4rem;
  margin-bottom: 1rem;
}

.login .remem {
  margin-bottom: 1rem;
  display: -webkit-inline-box;
  display: inline-flex;
  position: relative;
  width: 84%;
}

.login .remem .form-check-label {
  font-size: 1.2rem;
  position: absolute;
  left: 2rem;
  bottom: 0;
}

.login .remem .forget {
  font-size: 1.2rem;
  position: absolute;
  right: 0;
  bottom: 0;
}

.login .submit {
  background: #008489;
  width: 84%;
  color: white;
}

.login-header h1 {
  font-size: 6rem;
  line-height: 1rem;
  font-weight: 700;
}

.create-input.loginfield {
  width: 50%;
}

.register {
  width: 100%;
  height: 80vh;
  position: relative;
}

.register .form {
  position: absolute;
  width: 40rem;
  left: 50%;
  margin-left: -20rem;
  top: 15rem;
}

.register .form .field {
  width: 84%;
  height: 4rem;
  margin-bottom: 1rem;
}

.register h1 {
  font-size: 6rem;
  line-height: 1rem;
  font-weight: 700;
}

.register .submit {
  background: #008489;
  width: 84%;
  color: white;
}

.verify {
  width: 100%;
  height: 80vh;
  position: relative;
}

.verify .form {
  position: absolute;
  width: 40rem;
  left: 50%;
  margin-left: -20rem;
  top: 15rem;
}

.verify .form .another {
  color: #008489;
  border: none;
  padding: 0;
}

.verify h1 {
  font-size: 4.4rem;
  line-height: 1rem;
  font-weight: 700;
}

fieldset[disabled] .multiselect {
  pointer-events: none;
}

.multiselect__spinner {
  position: absolute;
  right: 1px;
  top: 1px;
  width: 48px;
  height: 35px;
  background: #fff;
  display: block;
}

.multiselect__spinner:after,
.multiselect__spinner:before {
  position: absolute;
  content: "";
  top: 50%;
  left: 50%;
  margin: -8px 0 0 -8px;
  width: 16px;
  height: 16px;
  border-radius: 100%;
  border-color: #41b883 transparent transparent;
  border-style: solid;
  border-width: 2px;
  box-shadow: 0 0 0 1px transparent;
}

.multiselect__spinner:before {
  -webkit-animation: a 2.4s cubic-bezier(0.41, 0.26, 0.2, 0.62);
          animation: a 2.4s cubic-bezier(0.41, 0.26, 0.2, 0.62);
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.multiselect__spinner:after {
  -webkit-animation: a 2.4s cubic-bezier(0.51, 0.09, 0.21, 0.8);
          animation: a 2.4s cubic-bezier(0.51, 0.09, 0.21, 0.8);
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.multiselect__loading-enter-active,
.multiselect__loading-leave-active {
  -webkit-transition: opacity 0.4s ease-in-out;
  transition: opacity 0.4s ease-in-out;
  opacity: 1;
}

.multiselect__loading-enter,
.multiselect__loading-leave-active {
  opacity: 0;
}

.multiselect,
.multiselect__input,
.multiselect__single {
  font-family: inherit;
  font-size: 16px;
  touch-action: manipulation;
}

.multiselect {
  box-sizing: content-box;
  display: block;
  position: relative;
  width: 100%;
  min-height: 40px;
  text-align: left;
  color: #35495e;
}

.multiselect * {
  box-sizing: border-box;
}

.multiselect:focus {
  outline: none;
}

.multiselect--disabled {
  opacity: 0.6;
}

.multiselect--active {
  z-index: 1;
}

.multiselect--active:not(.multiselect--above) .multiselect__current,
.multiselect--active:not(.multiselect--above) .multiselect__input,
.multiselect--active:not(.multiselect--above) .multiselect__tags {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.multiselect--active .multiselect__select {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.multiselect--above.multiselect--active .multiselect__current,
.multiselect--above.multiselect--active .multiselect__input,
.multiselect--above.multiselect--active .multiselect__tags {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.multiselect__input,
.multiselect__single {
  position: relative;
  display: inline-block;
  min-height: 20px;
  line-height: 20px;
  border: none;
  border-radius: 5px;
  background: #fff;
  padding: 0 0 0 5px;
  width: 100%;
  -webkit-transition: border 0.1s ease;
  transition: border 0.1s ease;
  box-sizing: border-box;
  margin-bottom: 8px;
  vertical-align: top;
}

.multiselect__input::-webkit-input-placeholder {
  color: #35495e;
}

.multiselect__input:-ms-input-placeholder {
  color: #35495e;
}

.multiselect__input::-moz-placeholder {
  color: #35495e;
}

.multiselect__input::-ms-input-placeholder {
  color: #35495e;
}

.multiselect__input::placeholder {
  color: #35495e;
}

.multiselect__tag ~ .multiselect__input,
.multiselect__tag ~ .multiselect__single {
  width: auto;
}

.multiselect__input:hover,
.multiselect__single:hover {
  border-color: #cfcfcf;
}

.multiselect__input:focus,
.multiselect__single:focus {
  border-color: #a8a8a8;
  outline: none;
}

.multiselect__single {
  padding-left: 5px;
  margin-bottom: 8px;
}

.multiselect__tags-wrap {
  display: inline;
}

.multiselect__tags {
  min-height: 40px;
  display: block;
  padding: 8px 40px 0 8px;
  border-radius: 5px;
  border: 1px solid #e8e8e8;
  background: #fff;
  font-size: 14px;
}

.multiselect__tag {
  position: relative;
  display: inline-block;
  padding: 4px 26px 4px 10px;
  border-radius: 5px;
  margin-right: 10px;
  color: #fff;
  line-height: 1;
  background: #41b883;
  margin-bottom: 5px;
  white-space: nowrap;
  overflow: hidden;
  max-width: 100%;
  text-overflow: ellipsis;
}

.multiselect__tag-icon {
  cursor: pointer;
  margin-left: 7px;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  font-weight: 700;
  font-style: normal;
  width: 22px;
  text-align: center;
  line-height: 22px;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  border-radius: 5px;
}

.multiselect__tag-icon:after {
  content: "\D7";
  color: #266d4d;
  font-size: 14px;
}

.multiselect__tag-icon:focus,
.multiselect__tag-icon:hover {
  background: #369a6e;
}

.multiselect__tag-icon:focus:after,
.multiselect__tag-icon:hover:after {
  color: #fff;
}

.multiselect__current {
  min-height: 40px;
  overflow: hidden;
  padding: 8px 12px 0;
  padding-right: 30px;
  white-space: nowrap;
  border-radius: 5px;
  border: 1px solid #e8e8e8;
}

.multiselect__current,
.multiselect__select {
  line-height: 16px;
  box-sizing: border-box;
  display: block;
  margin: 0;
  text-decoration: none;
  cursor: pointer;
}

.multiselect__select {
  position: absolute;
  width: 40px;
  height: 38px;
  right: 1px;
  top: 1px;
  padding: 4px 8px;
  text-align: center;
  -webkit-transition: -webkit-transform 0.2s ease;
  transition: -webkit-transform 0.2s ease;
  transition: transform 0.2s ease;
  transition: transform 0.2s ease, -webkit-transform 0.2s ease;
}

.multiselect__select:before {
  position: relative;
  right: 0;
  top: 65%;
  color: #999;
  margin-top: 4px;
  border-style: solid;
  border-width: 5px 5px 0;
  border-color: #999 transparent transparent;
  content: "";
}

.multiselect__placeholder {
  color: #adadad;
  display: inline-block;
  margin-bottom: 10px;
  padding-top: 2px;
}

.multiselect--active .multiselect__placeholder {
  display: none;
}

.multiselect__content-wrapper {
  position: absolute;
  display: block;
  background: #fff;
  width: 100%;
  max-height: 240px;
  overflow: auto;
  border: 1px solid #e8e8e8;
  border-top: none;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  z-index: 1;
  -webkit-overflow-scrolling: touch;
}

.multiselect__content {
  list-style: none;
  display: inline-block;
  padding: 0;
  margin: 0;
  min-width: 100%;
  vertical-align: top;
}

.multiselect--above .multiselect__content-wrapper {
  bottom: 100%;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom: none;
  border-top: 1px solid #e8e8e8;
}

.multiselect__content::webkit-scrollbar {
  display: none;
}

.multiselect__element {
  display: block;
}

.multiselect__option {
  display: block;
  padding: 12px;
  min-height: 40px;
  line-height: 16px;
  text-decoration: none;
  text-transform: none;
  vertical-align: middle;
  position: relative;
  cursor: pointer;
  white-space: nowrap;
}

.multiselect__option:after {
  top: 0;
  right: 0;
  position: absolute;
  line-height: 40px;
  padding-right: 12px;
  padding-left: 20px;
  font-size: 13px;
}

.multiselect__option--highlight {
  background: #41b883;
  outline: none;
  color: #fff;
}

.multiselect__option--highlight:after {
  content: attr(data-select);
  background: #41b883;
  color: #fff;
}

.multiselect__option--selected {
  background: #f3f3f3;
  color: #35495e;
  font-weight: 700;
}

.multiselect__option--selected:after {
  content: attr(data-selected);
  color: silver;
}

.multiselect__option--selected.multiselect__option--highlight {
  background: #ff6a6a;
  color: #fff;
}

.multiselect__option--selected.multiselect__option--highlight:after {
  background: #ff6a6a;
  content: attr(data-deselect);
  color: #fff;
}

.multiselect--disabled {
  background: #ededed;
  pointer-events: none;
}

.multiselect--disabled .multiselect__current,
.multiselect--disabled .multiselect__select,
.multiselect__option--disabled {
  background: #ededed;
  color: #a6a6a6;
}

.multiselect__option--disabled {
  cursor: text;
  pointer-events: none;
}

.multiselect__option--group {
  background: #ededed;
  color: #35495e;
}

.multiselect__option--group.multiselect__option--highlight {
  background: #35495e;
  color: #fff;
}

.multiselect__option--group.multiselect__option--highlight:after {
  background: #35495e;
}

.multiselect__option--disabled.multiselect__option--highlight {
  background: #dedede;
}

.multiselect__option--group-selected.multiselect__option--highlight {
  background: #ff6a6a;
  color: #fff;
}

.multiselect__option--group-selected.multiselect__option--highlight:after {
  background: #ff6a6a;
  content: attr(data-deselect);
  color: #fff;
}

.multiselect-enter-active,
.multiselect-leave-active {
  -webkit-transition: all 0.15s ease;
  transition: all 0.15s ease;
}

.multiselect-enter,
.multiselect-leave-active {
  opacity: 0;
}

.multiselect__strong {
  margin-bottom: 8px;
  line-height: 20px;
  display: inline-block;
  vertical-align: top;
}

[dir=rtl] .multiselect {
  text-align: right;
}

[dir=rtl] .multiselect__select {
  right: auto;
  left: 1px;
}

[dir=rtl] .multiselect__tags {
  padding: 8px 8px 0 40px;
}

[dir=rtl] .multiselect__content {
  text-align: right;
}

[dir=rtl] .multiselect__option:after {
  right: auto;
  left: 0;
}

[dir=rtl] .multiselect__clear {
  right: auto;
  left: 12px;
}

[dir=rtl] .multiselect__spinner {
  right: auto;
  left: 1px;
}

@-webkit-keyframes a {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }

  to {
    -webkit-transform: rotate(2turn);
            transform: rotate(2turn);
  }
}

@keyframes a {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }

  to {
    -webkit-transform: rotate(2turn);
            transform: rotate(2turn);
  }
}

html {
  font-size: 62.5%;
  font-family: "Montserrat", sans-serif;
  height: 100%;
}

body,
p {
  font-size: 14px;
  font-size: 1.6rem;
  font-family: "Montserrat", sans-serif;
  margin: 0px;
  height: 100%;
}

/* =14px */

h1 {
  font-size: 24px;
  font-size: 2.4rem;
  font-family: "Montserrat", sans-serif;
  color: #484848;
  -webkit-transform: scale(1, 1.11);
          transform: scale(1, 1.11);
}

/* =24px */

h2 {
  font-size: 20px;
  font-size: 2.2rem;
  font-family: "Montserrat", sans-serif;
  color: #484848;
  -webkit-transform: scale(1, 1.11);
          transform: scale(1, 1.11);
}

/* =24px */

h3 {
  font-size: 16px;
  font-size: 2rem;
  font-family: "Montserrat", sans-serif;
  color: #484848;
  -webkit-transform: scale(1, 1.11);
          transform: scale(1, 1.11);
}

/* =24px */

a {
  text-decoration: none;
  color: inherit;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  -ms-flex: 0 1 auto;
}

main {
  padding-top: 7rem;
}

.container {
  width: 89%;
  margin: auto;
}

button {
  margin: 0px;
  text-decoration: none;
  border-radius: 4px;
  padding: 1rem;
  font-size: 1.6rem;
}

input.general {
  padding: 0.8rem;
  border-radius: 0.5rem;
  border: 1px solid #969696;
  font-size: 1.4rem;
}

.profile-body {
  width: 70%;
  margin: auto;
}

.profile-upload-field {
  position: relative;
  margin-bottom: 2rem;
  padding-top: 3rem;
}

.profile-upload-label {
  top: 1rem;
  font-size: 1.1rem;
  color: #b3b5bf;
}

.profile-upload-wrapper,
.profile-upload-wrapper img {
  width: 100px;
  height: 100px;
  background-repeat: no-repeat;
  background-size: cover !important;
  border-radius: 15px;
  position: relative;
  display: block;
  cursor: pointer;
  background: #f77161;
  font-size: 110px;
  -webkit-transition: width 0.5s ease-in-out;
  transition: width 0.5s ease-in-out;
  -webkit-transition: height 0.5s ease-in-out;
  transition: height 0.5s ease-in-out;
}

.profile-upload-wrapper.imageloaded,
.profile-upload-wrapper img.imageloaded {
  font-size: 40px;
  background-size: cover;
}

.profile-upload-wrapper .profile-upload-layover {
  position: absolute;
  left: 80%;
  top: 60%;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.add-profile-image {
  background: #ff8c3c;
  border-radius: 50px;
  padding: 0px 10px 0px 10px;
  box-shadow: 1px 2px 5px 2px #9898984d;
}

.add-profile-image p {
  margin: 0px;
  font-size: 30px;
}

.profile-upload-wrapper .profile-upload-layover:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.profile-upload-wrapper .profile-upload-layover .text-center {
  position: relative;
  text-align: center;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.link.remember a {
  font-size: 1rem;
}

.link a {
  font-family: "Montserrat", sans-serif;
  color: #484848;
  text-decoration: none;
  font-size: 1.3rem;
  font-weight: 400;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.link a:hover {
  text-decoration: underline;
}

.dropdown-label label {
  position: relative;
  display: block;
  -webkit-transition: background 0.3s;
  transition: background 0.3s;
  cursor: pointer;
}

.dropdown-label input {
  display: none;
}

.dropdown-label input:checked ~ ul.subdropdown {
  max-height: 15rem;
  -webkit-transition: max-height 0.2s ease-in;
  transition: max-height 0.2s ease-in;
  margin-top: 1.5rem;
}

/*style for the second level menu*/

ul.subdropdown {
  z-index: 1;
  max-height: 0;
  padding: 0;
  overflow: hidden;
  list-style-type: none;
  position: absolute;
  min-width: 100%;
  right: 0;
  box-shadow: -1px 1px 5px 0px #cecece;
  margin-right: 2rem;
  background: white;
}

ul.subdropdown {
  max-height: 35rem;
  -webkit-transition: max-height 0.2s ease-in;
  transition: max-height 0.2s ease-in;
  margin-top: 1.5rem;
}

ul.subdropdown li a {
  display: block;
  padding: 1rem;
  padding-right: 14rem;
  text-decoration: none;
  -webkit-transition: background 0.1s;
  transition: background 0.1s;
  white-space: nowrap;
  background-color: white;
  float: left;
}

ul.subdropdown li a:hover {
  background: #e5e5e5;
}

#header {
  position: fixed;
  width: 100%;
  background: white;
  z-index: 901;
}

.nav {
  -webkit-box-align: center;
          align-items: center;
  border-bottom: 0.1rem solid #ebebeb;
  height: 7rem;
  position: relative;
}

.nav a {
  font-family: "Montserrat", sans-serif;
  color: #484848;
  text-decoration: none;
  font-size: 1.35rem;
  font-weight: 500;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.nav .logo {
  height: 6.9rem;
  width: 6.9rem;
  display: inline-block;
  float: left;
}

.nav img {
  height: 100%;
  width: 100%;
}

.nav .search {
  position: relative;
  width: 40%;
  display: inline-block;
  float: left;
  margin-top: 1.4rem;
}

.nav .search .multiselect {
  width: 74%;
  display: inline-block;
  vertical-align: top;
}

.nav .search .multiselect__tags {
  border-radius: 5px 0px 0px 5px;
}

.nav .search .multiselect__input {
  font-weight: 800;
  font-size: 17px;
  color: #484848;
}

.nav .search .multiselect__single {
  font-weight: 800;
  font-size: 17px;
  color: #484848;
}

.nav .search .multiselect__placeholder {
  padding: 0px;
  width: 100%;
  font-weight: 800;
  font-size: 17px;
  color: #b9b9b9;
}

.nav .search .multiselect__select {
  display: none;
}

.menu {
  width: 100%;
  list-style-type: none;
  padding: 0px;
  height: 100%;
}

.menu-nav {
  float: right;
  text-align: center;
  height: 100%;
  margin: 0rem 2rem;
  padding-top: 2.7rem;
}

.menu-nav a {
  vertical-align: bottom;
}

.profile-button {
  position: relative;
  width: 3.3rem;
  height: 3.3rem;
  margin-top: -8px;
}

.leaflet-control-attribution.leaflet-control {
  opacity: 0;
}

.leaflet-marker-icon.icons {
  background: white;
  border-radius: 5rem;
  border: solid 2px black;
  width: 5rem !important;
  margin-left: -2.5rem !important;
  height: 3rem !important;
  text-align: center;
}

.leaflet-marker-icon.icons p {
  overflow-wrap: break-word;
  font-size: 14px;
  font-weight: 800;
  line-height: 1.28571em;
  color: inherit;
  margin: 0.4rem 0rem;
}

div.leaflet-popup-content {
  margin: 1rem 0rem;
  line-height: 1.4;
}

div.leaflet-popup-content-wrapper {
  padding: 0rem;
  width: 20rem;
  margin-top: 50%;
}

div.leaflet-popup-content-wrapper .pop {
  width: 100%;
  height: 25rem;
}

div.leaflet-popup-content-wrapper .pop .back {
  height: 50%;
  border-radius: 0.5rem 0.5rem 0rem 0rem;
}

a.leaflet-popup-close-button {
  display: none;
}

.leaflet-touch .leaflet-control-attribution,
.leaflet-touch .leaflet-control-layers,
.leaflet-touch .leaflet-bar {
  display: none;
}

/*div.vue2leaflet-map {
    height:84% !important;
}*/

.zoom {
  position: absolute;
  right: 0;
  top: 0;
  margin: 2.4rem;
  z-index: 900;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 4px 24px, rgba(0, 0, 0, 0.04) 0px 0px 0px 1px !important;
  border-radius: 1rem;
}

.zoom .in button {
  background: white;
  border: none;
  padding: 1.2rem;
  border-radius: 1rem 1rem 0rem 0rem;
}

.zoom .in button:hover {
  background: #e8e8e8;
}

.zoom .out button {
  background: white;
  border: none;
  padding: 1.2rem;
  border-radius: 0rem 0rem 1rem 1rem;
}

.zoom .out button:hover {
  background: #e8e8e8;
}

.map {
  position: relative;
}

.map .default {
  position: absolute;
  left: 50%;
  top: 0;
  z-index: 900;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 4px 24px, rgba(0, 0, 0, 0.04) 0px 0px 0px 1px !important;
  border-radius: 1rem;
  background: white;
  width: 30rem;
  margin-left: -15rem;
  margin-top: 2.4rem;
}

.map .default p {
  display: inline-block;
  margin: 0;
  padding: 1rem;
}

.map .default input {
  margin: 1rem;
}

.map .checkbox {
  width: 3rem;
  height: 3rem;
  background: #f64747;
  position: relative;
  border-radius: 0.5rem;
  display: inline-block;
  margin: 1rem;
}

.map .checkbox input:checked + .check {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 8px;
  height: 14px;
  border-width: 0 2px 2px 0;
  border-style: solid;
  border-color: #fff;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  margin-left: -4px;
  margin-top: -7px;
}

.map .checkbox input[type=checkbox] {
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
}

.tab {
  border-bottom: solid #b1b1b1 1px;
}

.tab .ln {
  display: inline-block;
}

.tab .ln button {
  border: none;
  font-size: 1.6rem;
  line-height: 2.2rem;
  color: #5f5f5f;
  margin-right: 3.2rem;
  padding-left: 0rem;
  padding-right: 0rem;
  padding-top: 2.4rem;
  padding-bottom: 2.4rem;
  font-weight: 500;
  letter-spacing: 0.06rem;
}

.tab .ln.act button {
  color: #008489;
  border-bottom: 2px solid #008489;
  border-radius: 0;
}

.flatpickr-calendar.inline {
  margin: auto;
}

.flatpickr-calendar .multiMonth .inline {
  width: 100% !important;
}

.flatpickr-days {
  margin: 1rem 4rem 4rem 4rem;
}

.flatpickr-weekdays {
  margin: auto !important;
  width: 90% !important;
}

/*.dayContainer {
    margin: 2rem !important;
}

.dayContainer + .dayContainer {
    box-shadow: none !important;
}*/

.flatpickr-weekdaycontainer span.flatpickr-weekday {
  font-weight: 300;
}

div.flatpickr-calendar.animate.multiMonth.inline {
  width: 100% !important;
}

.rangeMode span.flatpickr-day {
  margin-top: -1px;
}

span.flatpickr-day {
  border: 1px solid #e4e7e7;
  border-radius: 0px;
  height: 100%;
  max-width: 100%;
  border-width: 2px 0.7px 1px 0.7px;
}

.flatpickr-months {
  padding-top: 4%;
  padding-bottom: 2%;
}

div.flatpickr-current-month {
  padding: 0;
}

div.flatpickr-current-month input {
  padding: 0.5rem 0.5rem !important;
  margin-left: 1rem !important;
  text-align: center;
  width: 80% !important;
}

div.numInputWrapper:hover {
  background: none;
}

input.form-control.flatpickr-input {
  display: none;
}

span.flatpickr-day.selected {
  background: #00a699;
  border-color: #00a699 !important;
}

.multiselect {
  margin: 0rem 0rem 1rem 0rem;
}

.multiselect--active .multiselect__tags {
  border: 1px solid #008489 !important;
  border-top-left-radius: 5px !important;
  border-top-right-radius: 5px !important;
}

.multiselect.error .multiselect__tags {
  border: 1px solid red !important;
}

#create .multiselect__tag {
  background: #008489;
}

.modal-backdrop {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.44);
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
          align-items: center;
}

.modal {
  background: #FFFFFF;
  box-shadow: 2px 2px 20px 1px;
  overflow-x: auto;
  border-radius: 0.5rem;
  min-width: 34rem;
}

.modal .btn {
  color: #fff;
  border-radius: 4px;
  background: #adadad;
  text-decoration: none;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  line-height: normal;
  min-width: 120px;
  border: none;
  min-height: 40px;
  border-radius: 3px;
  margin: 0 5px;
  outline: none !important;
  float: left;
  margin-left: 4rem;
  font-size: 1.4rem;
}

.modal .btn.del {
  background: #f15e5e;
  float: right;
  margin-right: 4rem;
  margin-left: 0rem;
}

.modal .btn.sub {
  background: #52ab9e;
  float: right;
  margin-right: 4rem;
  margin-left: 0rem;
}

.modal-header {
  padding: 4rem 4rem 1rem 4rem;
}

.modal-header .circle {
  width: 80px;
  height: 80px;
  margin: 0 auto;
  border-radius: 50%;
  z-index: 9;
  text-align: center;
}

.modal-header .circle.del {
  border: 3px solid #f15e5e;
}

.modal-header .circle.del p {
  color: #f15e5e;
  font-size: 46px;
  display: inline-block;
  margin-top: 1rem;
  font-weight: 500;
}

.modal-header .circle.sub {
  border: 3px solid #52ab9e;
}

.modal-header .circle.sub p {
  color: #52ab9e;
  font-size: 46px;
  display: inline-block;
  margin-top: 1rem;
  font-weight: 500;
}

.modal-footer {
  position: relative;
  width: 100%;
  overflow: hidden;
  padding-bottom: 10%;
  padding-top: 4%;
}

.modal-body {
  position: relative;
  margin: 1rem 5rem;
  text-align: center;
}

