input,
textarea,
button:focus {
  outline: 0;
}

input,
textarea {
  box-sizing: border-box;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus textarea:-webkit-autofill,
textarea:-webkit-autofill:hover textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0px 1000px #ffffff inset !important;
}

.dis {
  pointer-events: none;
}

.edit-events {
  width: 300px;
  margin: auto;
}

.edit-events img {
  width: 100%;
}

.tab-events {
  margin-top: 5rem;
  min-height: 320px;
}

.editevents {
  max-width: 72%;
  margin: auto;
  padding-top: 5rem;
}

.editevents .section .title-block {
  width: 100%;
  height: 8rem;
  position: relative;
}

.editevents .section .title-block .image {
  width: 6rem;
  height: 6rem;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: inline-block;
  float: left;
  border-radius: 1rem;
}

.editevents .section .title-block .edit {
  font-size: 1.4rem;
  padding-top: 0.6rem;
  padding-bottom: 0.6rem;
  font-weight: 600;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  line-height: 2.2rem;
  min-width: 4.8rem;
  color: #008489;
  border-radius: 0.4rem;
  border-width: 0.1rem;
  background: white;
  border-color: #008489;
}

.editevents .section .title-block .prev {
  font-size: 1.4rem;
  padding-top: 0.6rem;
  padding-bottom: 0.6rem;
  font-weight: 600;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  line-height: 2.2rem;
  min-width: 4.8rem;
  color: white;
  border-radius: 0.4rem;
  border-width: 0.1rem;
  background: #008489;
  border-color: transparent;
}

.editevents .section .title {
  float: left;
  overflow-wrap: break-word;
  font-size: 4rem;
  font-weight: 800;
  line-height: 8rem;
  color: #484848;
  margin: 0px;
  padding: 0;
}

.editevents .section .buttons {
  float: right;
}

.editevents .section .enew {
  background-color: #efefef;
  border-radius: 0.5rem;
}

.editevents .section .enew .body {
  border: dashed 2px #dadada;
  border-radius: 0.5rem;
  position: relative;
  padding: 33%;
}

.editevents .section .enew .body .event {
  position: absolute;
  top: 50%;
  height: 7rem;
  margin-top: -3.5rem;
  width: 15rem;
  left: 50%;
  margin-left: -7.5rem;
  text-align: center;
}

.edit-events-page {
  max-width: 100rem;
  margin: auto;
  padding-top: 4rem;
}

.search .filter {
  width: 100%;
  height: 5rem;
  border-bottom: 1px solid #ebebeb;
  padding: 0.55rem 2.5rem;
  display: inline-grid;
  grid-template-columns: repeat(5, auto);
  -webkit-box-pack: left;
          justify-content: left;
  -webkit-box-align: center;
          align-items: center;
  z-index: 900;
  position: relative;
}

.search .filter .flatpickr-input,
.search .filter .form-control.input {
  display: none;
}

.search .filter .item {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  width: 100%;
  margin-right: 1.5rem;
}

.search .filter .item .el .button .click {
  padding: 0.8rem;
  background: white;
  display: inline-block;
  border-radius: 2rem;
  border: 1px solid black;
  font-weight: 300;
}

.search .filter .item .el .button .click:hover {
  background: black;
  color: white;
}

.search .filter .item .el .button p {
  font-size: 1.4rem;
}

.search .filter .item .el .b_over {
  position: absolute;
  background: white;
  border-radius: 1rem;
  border: 1px solid black;
  margin-top: 2.5rem;
  margin-left: -0.6rem;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 10px 37px;
}

.search .filter .item .el .b_over .box {
  padding: 5rem 3rem;
}

.search .filter .item .el .b_over .save {
  padding: 1rem;
  border-top: 1px solid #929292;
  margin-top: 0.3rem;
}

.search .filter .item .el .b_over .save button.cancel {
  background: white;
  border: 1px solid darkgrey;
  color: #989898;
  padding: 0.3rem 1rem;
}

.search .filter .item .el .b_over .save button.submit {
  float: right;
  padding: 0.3rem 1rem;
}

.search .filter .item .el .b_over .flatpickr-calendar {
  box-shadow: none;
}

.search .filter .item .el .b_over.cat {
  width: 35rem;
}

.search .filter .item .el .b_over.cat .box {
  padding: 0rem;
}

.search .filter .item .el .b_over.cat .box .multiselect__tags {
  border: none;
  padding: 18px 40px 0 8px;
  background: none;
}

.search .filter .item .el .b_over.price {
  width: 35rem;
}

.search .list {
  width: 60%;
  display: inline-block;
  padding: 2rem;
}

.search .map {
  width: 40%;
  display: inline-block;
  position: fixed;
  overflow: hidden;
}

.search .map .search {
  position: absolute;
  left: 50%;
  top: 0;
  z-index: 900;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 4px 24px, rgba(0, 0, 0, 0.04) 0px 0px 0px 1px !important;
  border-radius: 1rem;
  background: white;
  width: 30rem;
  margin-left: -15rem;
  margin-top: 2.4rem;
}

.search .map .search p {
  display: inline-block;
  margin: 0;
  padding: 1rem;
}

.search .map .search input {
  margin: 1rem;
}

.search .map .checkbox {
  width: 3rem;
  height: 3rem;
  background: #f64747;
  position: relative;
  border-radius: 0.5rem;
  display: inline-block;
  margin: 1rem;
}

.search .map .checkbox input:checked + .check {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 8px;
  height: 14px;
  border-width: 0 2px 2px 0;
  border-style: solid;
  border-color: #fff;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  margin-left: -4px;
  margin-top: -7px;
}

.search .map .checkbox input[type=checkbox] {
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
}

.search .top {
  margin-top: 8px;
  margin-bottom: 20px;
}

.search .top .ln {
  border: solid 0.5px #EBEBEB;
}

.search .info {
  display: inline-block;
  padding-left: 1rem;
  position: absolute;
}

.search .info .name {
  font-weight: 400;
  color: #222222;
  font-size: 18px;
  line-height: 24px;
  max-height: 24px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.search .info .price {
  -webkit-box-align: center;
  align-items: center;
  color: #222222;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
}

.showmap {
  position: absolute;
  right: 0;
}

.showmap p {
  display: inline-block;
  line-height: 4rem;
  position: absolute;
  margin-left: -9.3rem;
}

.showmap #cover {
  width: 5rem;
  position: relative;
  display: inline-block;
  margin-right: 2rem;
}

.showmap input#checkbox {
  margin: 0 !important;
  width: 100%;
  height: 3.2rem;
  cursor: pointer;
  opacity: 0;
  position: relative;
  z-index: 3;
}

.showmap #bar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ffffff;
  z-index: 1;
  border-radius: 2rem;
  border: 1px solid #e8e8e8;
}

.showmap #knob {
  position: absolute;
  top: 0.3rem;
  left: 0.5rem;
  width: 2.8rem;
  height: 2.8rem;
  background-color: #fff;
  border-radius: 2rem;
  -webkit-transition: left 0.3s cubic-bezier(0.18, 0.89, 0.32, 1.28), margin-left 0.3s ease, width 0.3s ease, border-radius 0.3s ease;
  transition: left 0.3s cubic-bezier(0.18, 0.89, 0.32, 1.28), margin-left 0.3s ease, width 0.3s ease, border-radius 0.3s ease;
  box-shadow: 0px 1px 1px #7d7d7d;
  z-index: 2;
  border: 1px solid #b5b5b5;
}

.showmap #checkbox:active ~ #knob {
  width: 36px;
  border-radius: 2rem;
}

.showmap #checkbox:checked ~ #knob {
  left: 1.9rem;
}

.showmap #checkbox:checked ~ #knob p {
  font-size: 1.3rem;
  margin: 0;
}

.showmap #checkbox:checked ~ #bar {
  background-color: #808080;
}

.showmap #checkbox:checked:active ~ #knob {
  margin-left: -12px;
}

.search .image-box {
  width: 30rem;
  height: 20rem;
  display: inline-block;
}

.search .image-box .image {
  padding: 33%;
  border-radius: 4px;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.search .image-box .image:hover div.heart {
  visibility: visible;
  opacity: 1;
}

.search .image-box .image .heart {
  position: absolute;
  right: 5%;
  top: 5%;
  border-radius: 50%;
  width: 4rem;
  height: 4rem;
  background-color: white;
  border: 1px solid white;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 0px 0px, rgba(0, 0, 0, 0.04) 0px 0px 0px 0.5px;
  -webkit-transition-duration: 0.3s;
  -webkit-transition-property: -webkit-transform;
  -webkit-transition-property: visibility, -webkit-transform;
  transition-property: visibility, -webkit-transform;
  transition-property: transform, visibility;
  transition-property: transform, visibility, -webkit-transform;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  visibility: hidden;
  opacity: 0;
}

.search .image-box .image .heart:hover {
  -webkit-transform: scale(1.07);
  transform: scale(1.07);
}

.login-container {
  background: white;
  overflow: auto;
  position: relative;
}

.white-cover-top {
  background: white;
  -webkit-clip-path: polygon(0% 0%, 0% 100%, 34% 100%, 55% 0%);
          clip-path: polygon(0% 0%, 0% 100%, 34% 100%, 55% 0%);
  height: 80vh;
  position: absolute;
  width: 100%;
}

.white-cover-bottom {
  background: white;
  -webkit-transform: skew(-40deg);
          transform: skew(-40deg);
  height: 80vh;
  position: absolute;
}

.login {
  width: 100%;
  height: 80vh;
  padding-top: 15rem;
}

.login .welcome {
  z-index: 1;
  position: relative;
}

.login-block {
  position: absolute;
  width: 40rem;
  left: 50%;
  margin-left: -20rem;
}

.login .field {
  width: 84%;
  height: 4rem;
  margin-bottom: 1rem;
}

.login .remem {
  margin-bottom: 1rem;
  display: -webkit-inline-box;
  display: inline-flex;
  position: relative;
  width: 84%;
}

.login .remem .form-check-label {
  font-size: 1.2rem;
  position: absolute;
  left: 2rem;
  bottom: 0;
}

.login .remem .forget {
  font-size: 1.2rem;
  position: absolute;
  right: 0;
  bottom: 0;
}

.login .submit {
  background: #008489;
  width: 84%;
  color: white;
}

.login-header h1 {
  font-size: 6rem;
  line-height: 1rem;
  font-weight: 700;
}

.create-input.loginfield {
  width: 50%;
}

.register {
  width: 100%;
  height: 80vh;
  position: relative;
}

.register .form {
  position: absolute;
  width: 40rem;
  left: 50%;
  margin-left: -20rem;
  top: 15rem;
}

.register .form .field {
  width: 84%;
  height: 4rem;
  margin-bottom: 1rem;
}

.register h1 {
  font-size: 6rem;
  line-height: 1rem;
  font-weight: 700;
}

.register .submit {
  background: #008489;
  width: 84%;
  color: white;
}

.verify {
  width: 100%;
  height: 80vh;
  position: relative;
}

.verify .form {
  position: absolute;
  width: 40rem;
  left: 50%;
  margin-left: -20rem;
  top: 15rem;
}

.verify .form .another {
  color: #008489;
  border: none;
  padding: 0;
}

.verify h1 {
  font-size: 4.4rem;
  line-height: 1rem;
  font-weight: 700;
}

.verify_bar {
  width: 100%;
  background: #3faba1;
  color: white;
}

.verify_bar .text {
  display: inline-block;
  padding: 2rem;
}

.verify_bar .submit {
  display: inline-block;
  float: right;
  padding: 2rem;
}

.verify_bar .submit p {
  display: inline-block;
}

.verify_bar .submit form {
  display: inline-block;
}

.verify_bar .submit button {
  background: none;
  color: black;
  border: none;
  padding: 0;
}

.profile-body {
  width: 70%;
  margin: auto;
}

.profile-upload-field {
  position: relative;
  margin-bottom: 2rem;
  padding-top: 3rem;
}

.profile-upload-label {
  top: 1rem;
  font-size: 1.1rem;
  color: #b3b5bf;
}

.profile-upload-wrapper,
.profile-upload-wrapper img {
  width: 100px;
  height: 100px;
  background-repeat: no-repeat;
  background-size: cover !important;
  border-radius: 15px;
  position: relative;
  display: block;
  cursor: pointer;
  background: #f77161;
  font-size: 110px;
  -webkit-transition: width 0.5s ease-in-out;
  transition: width 0.5s ease-in-out;
  -webkit-transition: height 0.5s ease-in-out;
  transition: height 0.5s ease-in-out;
}

.profile-upload-wrapper.imageloaded,
.profile-upload-wrapper img.imageloaded {
  font-size: 40px;
  background-size: cover;
}

.profile-upload-wrapper .profile-upload-layover {
  position: absolute;
  left: 80%;
  top: 60%;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.add-profile-image {
  background: #ff8c3c;
  border-radius: 50px;
  padding: 0px 10px 0px 10px;
  box-shadow: 1px 2px 5px 2px #9898984d;
}

.add-profile-image p {
  margin: 0px;
  font-size: 30px;
}

.profile-upload-wrapper .profile-upload-layover:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.profile-upload-wrapper .profile-upload-layover .text-center {
  position: relative;
  text-align: center;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.tab {
  border-bottom: solid #b1b1b1 1px;
}

.tab .ln {
  display: inline-block;
}

.tab .ln button {
  border: none;
  font-size: 1.6rem;
  line-height: 2.2rem;
  color: #5f5f5f;
  margin-right: 3.2rem;
  padding-left: 0rem;
  padding-right: 0rem;
  padding-top: 2.4rem;
  padding-bottom: 2.4rem;
  font-weight: 500;
  letter-spacing: 0.06rem;
}

.tab .ln.act button {
  color: #008489;
  border-bottom: 2px solid #008489;
  border-radius: 0;
}

.modal-backdrop {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.44);
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
          align-items: center;
}

.modal {
  background: #FFFFFF;
  box-shadow: 2px 2px 20px 1px;
  overflow-x: auto;
  border-radius: 0.5rem;
  min-width: 34rem;
}

.modal .btn {
  color: #fff;
  border-radius: 4px;
  background: #adadad;
  text-decoration: none;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  line-height: normal;
  min-width: 120px;
  border: none;
  min-height: 40px;
  border-radius: 3px;
  margin: 0 5px;
  outline: none !important;
  float: left;
  margin-left: 4rem;
  font-size: 1.4rem;
}

.modal .btn.del {
  background: #f15e5e;
  float: right;
  margin-right: 4rem;
  margin-left: 0rem;
}

.modal .btn.sub {
  background: #52ab9e;
  float: right;
  margin-right: 4rem;
  margin-left: 0rem;
}

.modal-header {
  padding: 4rem 4rem 1rem 4rem;
}

.modal-header .circle {
  width: 80px;
  height: 80px;
  margin: 0 auto;
  border-radius: 50%;
  z-index: 9;
  text-align: center;
}

.modal-header .circle.del {
  border: 3px solid #f15e5e;
}

.modal-header .circle.del p {
  color: #f15e5e;
  font-size: 46px;
  display: inline-block;
  margin-top: 1rem;
  font-weight: 500;
}

.modal-header .circle.sub {
  border: 3px solid #52ab9e;
}

.modal-header .circle.sub p {
  color: #52ab9e;
  font-size: 46px;
  display: inline-block;
  margin-top: 1rem;
  font-weight: 500;
}

.modal-footer {
  position: relative;
  width: 100%;
  overflow: hidden;
  padding-bottom: 10%;
  padding-top: 4%;
}

.modal-body {
  position: relative;
  margin: 1rem 5rem;
  text-align: center;
}

