input,
textarea,
button:focus {
  outline: 0;
}

input,
textarea {
  box-sizing: border-box;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus textarea:-webkit-autofill,
textarea:-webkit-autofill:hover textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0px 1000px #ffffff inset !important;
}

input,
select {
  font-size: 100% !important;
}

input[type=color],
input[type=date],
input[type=datetime],
input[type=datetime-local],
input[type=email],
input[type=month],
input[type=number],
input[type=password],
input[type=search],
input[type=tel],
input[type=text],
input[type=time],
input[type=url],
input[type=week],
select:focus,
textarea {
  font-size: 16px !important;
}

.grey {
  background: #f2f2f2;
}

.dis {
  pointer-events: none;
}

/*
#bodyArea {
    & .approve {
    margin-top:-7rem;
    background: white;
    }
}*/

.approvebar {
  width: 100%;
  background: #f3c9bc;
  position: fixed;
  bottom: 0;
  height: 10rem;
  z-index: 900;
}

.approvebar .comments {
  position: absolute;
  left: 4%;
  top: 0;
  margin-top: -8%;
  background: white;
  border-radius: 1rem;
  border: 1px solid black;
  padding: 1rem;
  width: 35rem;
}

.approvebar .comments .validation-error {
  color: red;
  position: absolute;
  top: 0;
  margin-top: 3rem;
}

.approvebar .comments label {
  display: block;
  margin-bottom: 1rem;
}

.approvebar .comments textarea {
  width: 100%;
  border: 1px solid #f1f1f1;
  font-size: 1.5rem;
}

.approvebar .buttons {
  margin: 0;
  position: absolute;
  right: 4%;
  top: 50%;
  transform: translateY(-50%);
}

.admin-approval__space {
  height: 20rem;
}

#admin .categories .title h1 {
  font-size: 3.2rem;
}

#admin .categories .text {
  width: 100%;
}

#admin .categories .text .field {
  width: 30%;
  display: inline;
}

/*------------------------------------*\
  #Admin- Nav 
\*------------------------------------*/

.admin-nav {
  position: fixed;
  width: 20%;
  background: #232228;
  height: 100%;
  z-index: 901;
  border-right: solid #c1c1c1 1px;
  padding: 2.5rem;
  overflow-y: auto;
}

button.admin-home-icon {
  border: solid #008489 1px;
  border-radius: 0.3rem;
  padding: 0.9rem 2rem;
  margin-bottom: 3rem;
  font-size: 1.5rem;
  background: #008489;
  color: white;
}

.admin-nav-title {
  display: block;
  margin-bottom: 1rem;
}

.admin-nav-title h3 {
  font-size: 1.7rem;
  color: white;
  margin: 0;
}

.admin-menu a {
  /* margin: 1rem 1rem;*/
  font-size: 1.5rem;
  color: #767676;
  font-weight: 400;
}

.admin-menu__item {
  position: relative;
}

button.admin-menu__item {
  border: 0;
  display: inline-block;
  width: 100%;
  text-align: left;
  font-size: 1.5rem;
  color: #b3b3b3;
  background: none;
  margin: 0.4rem 0rem;
}

button.admin-menu__item:hover {
  background: #008489;
  color: white;
}

button.admin-menu__item.active {
  background: #4e4e4e;
  color: white;
}

.admin-menu__notification {
  position: absolute;
  background: red;
  right: 0;
  padding: 0.5rem 1.5rem;
  border-radius: 100%;
  margin-top: -0.6rem;
}

.admin-menu__notification p {
  margin: 0;
  text-align: center;
  font-size: 1.2rem;
  color: white;
}

.checklist-section {
  position: relative;
}

.checklist-section .item {
  display: inline-block;
}

.checklist-section .notification {
  position: absolute;
  background: red;
  padding: 0.5rem;
  border-radius: 100%;
  right: 0;
  color: white;
  font-size: 1rem;
  min-width: 2.5rem;
}

.checklist-section .notification p {
  margin: 0;
  text-align: center;
  font-size: 1.2rem;
}

/*------------------------------------*\
  #Admin- Layout Page
\*------------------------------------*/

#admin {
  width: 80%;
  margin-left: 20%;
  padding: 3rem 5rem;
}

#admin .validation-error {
  text-align: left;
  color: red;
  font-size: 1.2rem;
  margin-left: 2rem;
}

#admin .validation-error p {
  margin: 0;
}

#admin .list {
  width: 100%;
  background: #f9f9f9;
  border-radius: 0.5rem;
  padding: 1rem;
  margin-top: 1rem;
  border: 1px solid #dedede;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  justify-items: center;
  position: relative;
  align-items: center;
}

#admin .list button.delete-circle {
  position: absolute;
  right: 0;
  padding: 0rem;
  border-radius: 50%;
  border: solid 1px red;
  color: red;
  height: 2rem;
  width: 2rem;
  top: 0;
  margin-top: -0.5rem;
  margin-right: -1rem;
}

#admin .list button.delete-circle p {
  margin: 0;
  margin-left: -1.5px;
}

#admin .list input {
  border: none;
  padding: 1rem 1rem 0rem 0rem;
  border-radius: 0.3rem;
  height: 4.3rem;
  width: 100%;
  border-bottom: 1px solid #cecece;
  font-size: 1.4rem;
  background: transparent;
}

#admin .list textarea {
  width: 100%;
  background: transparent;
  border: none;
  padding: 1rem;
  font-size: 1.4rem;
}

#admin .list .box {
  width: 133px;
  height: 75px;
  display: inline-block;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 0.5rem;
}

#admin .list .box label {
  width: 100%;
  height: 100%;
  display: inline-block;
}

#admin .list .box .fileinput {
  display: none;
}

#admin .pin .modal-backdrop {
  margin-left: 20%;
  background-color: rgba(218, 218, 218, 0.92);
}

#admin .pin .modal-backdrop .modal {
  min-width: 70%;
  position: relative;
  overflow: visible;
}

#admin .pin .modal-backdrop .modal .modal-header {
  padding: 0;
}

#admin .pin .modal-backdrop .modal .body {
  display: grid;
  grid-template-columns: 0.7fr 1fr;
  margin: 5rem 0rem;
}

#admin .pin .modal-backdrop .modal .body .fileinput {
  display: none;
}

#admin .pin .modal-backdrop .modal .body label {
  height: 30rem;
  background-color: #efefef;
  border-radius: 1rem;
  padding: 1rem;
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
}

#admin .pin .modal-backdrop .modal .body label .box {
  border: dashed 2px #dadada;
  height: 100%;
  position: relative;
}

#admin .pin .modal-backdrop .modal .body label .box .in {
  margin: auto;
  position: absolute;
  height: 4rem;
  top: 50%;
  margin-top: -2rem;
  width: 100%;
}

#admin .pin .modal-backdrop .modal .body label .box .in .b {
  fill: #8e8e8e;
}

#admin .pin .modal-backdrop .modal .body .text .name input {
  width: 100%;
  margin-left: 2rem;
  border: none;
  border-bottom: 1px solid #dadada;
  padding: 1rem 0rem;
  font-size: 3rem;
  font-weight: 600;
  color: #333;
}

#admin .pin .modal-backdrop .modal .body .text .name input::-moz-placeholder {
  color: #9c9c9c;
}

#admin .pin .modal-backdrop .modal .body .text .name input:-ms-input-placeholder {
  color: #9c9c9c;
}

#admin .pin .modal-backdrop .modal .body .text .name input::-ms-input-placeholder {
  color: #9c9c9c;
}

#admin .pin .modal-backdrop .modal .body .text .name input::placeholder {
  color: #9c9c9c;
}

#admin .pin .modal-backdrop .modal .body .text .desc {
  margin-top: 3rem;
}

#admin .pin .modal-backdrop .modal .body .text .desc textarea {
  width: 100%;
  margin-left: 2rem;
  border: none;
  border-bottom: 1px solid #dadada;
  padding: 1rem 0rem;
  font-size: 1.8rem;
  font-weight: 300;
  color: #333;
}

#admin .pin .modal-backdrop .modal .body .text .desc textarea::-moz-placeholder {
  color: #9c9c9c;
  position: absolute;
  bottom: 0;
}

#admin .pin .modal-backdrop .modal .body .text .desc textarea:-ms-input-placeholder {
  color: #9c9c9c;
  position: absolute;
  bottom: 0;
}

#admin .pin .modal-backdrop .modal .body .text .desc textarea::-ms-input-placeholder {
  color: #9c9c9c;
  position: absolute;
  bottom: 0;
}

#admin .pin .modal-backdrop .modal .body .text .desc textarea::placeholder {
  color: #9c9c9c;
  position: absolute;
  bottom: 0;
}

#admin .pin .modal-backdrop .modal .modal-footer {
  position: absolute;
  padding: 0;
  bottom: 5%;
  width: 50%;
  right: 0;
}

#admin .pin.noimg .modal-backdrop .body {
  grid-template-columns: 1fr;
}

#admin .pin.noimg .modal-backdrop .modal-footer {
  position: relative;
  width: 92%;
  overflow: hidden;
  padding-bottom: 4%;
  margin: auto;
}

#admin .title {
  position: relative;
  display: inline-block;
}

#admin .title .add {
  position: absolute;
  top: 50%;
  right: -8rem;
  height: 4rem;
  margin-top: -2rem;
}

#admin .title .add button {
  border-radius: 50%;
  width: 4rem;
  height: 4rem;
  padding: 1.3rem 0rem;
  border: solid #008489 1px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 0px 0px, rgba(0, 0, 0, 0.04) 0px 0px 0px 0.5px;
}

#admin .title .add button p {
  font-size: 4rem;
  color: #008489;
  margin: 0;
  margin-top: -0.9rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-touch-callout: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

:focus {
  outline: none;
}

:after,
:before {
  box-sizing: border-box;
}

.rev {
  padding: 5rem 0rem;
}

.rev .button {
  font-weight: 700;
  display: inline-flex;
  background: transparent;
  border: 0;
  color: #000;
  padding: 0.2rem 0.5rem;
  margin-right: 0.2rem;
  border-radius: 3px;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.1);
}

.rev .button:hover {
  background-color: rgba(0, 0, 0, 0.15);
}

.rev .message {
  background-color: rgba(0, 0, 0, 0.05);
  color: rgba(0, 0, 0, 0.7);
  padding: 1rem;
  border-radius: 6px;
  margin-bottom: 1.5rem;
  font-style: italic;
}

.rev .editor {
  position: relative;
  max-width: 100%;
  margin: 0 auto 5rem;
}

.rev .editor__content {
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
}

.rev .editor__content * {
  caret-color: currentColor;
}

.rev .editor__content pre {
  padding: 0.7rem 1rem;
  border-radius: 5px;
  background: #000;
  color: #fff;
  font-size: 0.8rem;
  overflow-x: auto;
}

.rev .editor__content pre code {
  display: block;
}

.rev .editor__content p code {
  display: inline-block;
  padding: 0 0.4rem;
  border-radius: 5px;
  font-size: 0.8rem;
  font-weight: 700;
  background: rgba(0, 0, 0, 0.1);
  color: rgba(0, 0, 0, 0.8);
}

.rev .editor__content ol,
.rev .editor__content ul {
  padding-left: 1rem;
}

.rev .editor__content li > ol,
.rev .editor__content li > p,
.rev .editor__content li > ul {
  margin: 0;
}

.rev .editor__content a {
  color: inherit;
}

.rev .editor__content blockquote {
  border-left: 3px solid rgba(0, 0, 0, 0.1);
  color: rgba(0, 0, 0, 0.8);
  padding-left: 0.8rem;
  font-style: italic;
}

.rev .editor__content blockquote p {
  margin: 0;
}

.rev .editor__content img {
  max-width: 100%;
  border-radius: 3px;
}

.rev .editor__content table {
  border-collapse: collapse;
  table-layout: fixed;
  width: 100%;
  margin: 0;
  overflow: hidden;
}

.rev .editor__content table td,
.rev .editor__content table th {
  min-width: 1em;
  border: 2px solid #ddd;
  padding: 3px 5px;
  vertical-align: top;
  box-sizing: border-box;
  position: relative;
}

.rev .editor__content table td > *,
.rev .editor__content table th > * {
  margin-bottom: 0;
}

.rev .editor__content table th {
  font-weight: 700;
  text-align: left;
}

.rev .editor__content table .selectedCell:after {
  z-index: 2;
  position: absolute;
  content: "";
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(200, 200, 255, 0.4);
  pointer-events: none;
}

.rev .editor__content table .column-resize-handle {
  position: absolute;
  right: -2px;
  top: 0;
  bottom: 0;
  width: 4px;
  z-index: 20;
  background-color: #adf;
  pointer-events: none;
}

.rev .editor__content .tableWrapper {
  margin: 1em 0;
  overflow-x: auto;
}

.rev .editor__content .resize-cursor {
  cursor: ew-resize;
  cursor: col-resize;
}

.rev .menubar {
  margin-bottom: 1rem;
  transition: visibility 0.2s 0.4s, opacity 0.2s 0.4s;
}

.rev .menubar.is-hidden {
  visibility: hidden;
  opacity: 0;
}

.rev .menubar.is-focused {
  visibility: visible;
  opacity: 1;
  transition: visibility 0.2s, opacity 0.2s;
}

.rev .menubar__button {
  font-weight: 700;
  display: inline-flex;
  background: transparent;
  border: 0;
  color: white;
  padding: 1rem 1rem;
  margin-right: 0.2rem;
  border-radius: 3px;
  cursor: pointer;
}

.rev .menubar__button:hover {
  background-color: rgba(0, 0, 0, 0.05);
}

.rev .menubar__button.is-active {
  color: #0ff1a9;
}

.rev .menubar span.menubar__button {
  font-size: 13.3333px;
}

.rev .menububble {
  position: absolute;
  display: flex;
  z-index: 20;
  background: #000;
  border-radius: 5px;
  padding: 0.3rem;
  margin-bottom: 0.5rem;
  transform: translateX(-50%);
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.2s, visibility 0.2s;
}

.rev .menububble.is-active {
  opacity: 1;
  visibility: visible;
}

.rev .menububble__button {
  display: inline-flex;
  background: transparent;
  border: 0;
  color: #fff;
  padding: 1rem 1rem;
  margin-right: 0.2rem;
  border-radius: 3px;
  cursor: pointer;
}

.rev .menububble__button:last-child {
  margin-right: 0;
}

.rev .menububble__button:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.rev .menububble__button.is-active {
  color: #0ff1a9;
}

.rev .menububble__form {
  display: flex;
  align-items: center;
}

.rev .menububble__input {
  font: inherit;
  border: none;
  background: transparent;
  color: #fff;
}

.rev .hero[data-v-5a80d244] {
  background-color: #000;
  color: #fff;
  text-align: center;
  padding: 3rem 1rem;
}

.rev .hero__inner[data-v-5a80d244] {
  margin: 0 auto;
  max-width: 30rem;
}

.rev .hero__logo[data-v-5a80d244] {
  width: 4rem;
  height: 4rem;
}

.rev .hero__logo path[data-v-5a80d244] {
  fill: #fff;
}

.rev .page__content {
  padding: 4rem 1rem;
}

.rev .page__footer {
  text-align: center;
  margin-bottom: 2rem;
}

.rev .page__source-link {
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 0.8rem;
  background-color: rgba(0, 0, 0, 0.1);
  color: #000;
  border-radius: 5px;
  padding: 0.2rem 0.5rem;
}

.rev .editor {
  position: relative;
}

.rev .editor__floating-menu {
  position: absolute;
  z-index: 1;
  margin-top: -0.25rem;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.2s, visibility 0.2s;
  border-radius: 0.3rem;
  background: black;
}

.rev .editor__floating-menu.is-active {
  opacity: 1;
  visibility: visible;
  background: black;
  margin-top: -0.25rem;
}

@media (min-width: 600px) {
  .subnavigation[data-v-460c8f74] {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 1000;
  }
}

@media (min-width: 1020px) {
  .ad[data-v-d8041bf2] {
    position: fixed;
    left: 0;
    bottom: 0;
    margin-top: 0;
  }
}

#admin .picks .new {
  display: grid;
  grid-template-columns: auto auto;
  margin: 4rem 0rem;
}

#admin .picks .new .content {
  padding: 4rem;
}

#admin .picks .list .image img {
  width: 10rem;
}

#admin .picks img.option__image {
  width: 10rem;
}

#admin .picks .listing {
  margin: 4rem 0;
}

#admin .reviewevent .new {
  display: grid;
  grid-template-columns: auto auto;
  margin: 4rem 0rem;
}

#admin .reviewevent .new .content {
  padding: 4rem 4rem 0rem 4rem;
}

#admin .reviewevent .list .image img {
  width: 10rem;
}

#admin .reviewevent img.option__image {
  width: 10rem;
}

#admin .reviewevent .listing {
  margin: 4rem 0;
}

#admin .reviewevent input {
  position: relative;
  color: #484848;
  background-color: white;
  transition: border-color 0.2s ease 0s;
  padding: 1.3rem 1rem;
  border-width: 1px;
  border-style: solid;
  -o-border-image: initial;
  border-image: initial;
  border-radius: 5px;
  border-color: #ebebeb;
  margin: 0rem 0rem 1rem 0rem;
  font-size: 1.4rem;
  width: 100%;
  font-family: "Montserrat", sans-serif;
}

#admin .reviewevent input.active {
  border-color: #008489;
}

#admin .reviewevent input.error {
  border-color: red;
}

#admin .reviewevent input::-moz-placeholder {
  color: #adadad;
  font-size: 1.4rem;
  font-family: inherit;
}

#admin .reviewevent input:-ms-input-placeholder {
  color: #adadad;
  font-size: 1.4rem;
  font-family: inherit;
}

#admin .reviewevent input::-ms-input-placeholder {
  color: #adadad;
  font-size: 1.4rem;
  font-family: inherit;
}

#admin .reviewevent input::placeholder {
  color: #adadad;
  font-size: 1.4rem;
  font-family: inherit;
}

#admin .reviewevent textarea {
  position: relative;
  color: #484848;
  background-color: white;
  transition: border-color 0.2s ease 0s;
  padding: 1.3rem 1rem;
  border-width: 1px;
  border-style: solid;
  -o-border-image: initial;
  border-image: initial;
  border-radius: 5px;
  border-color: #ebebeb;
  margin: 0rem 0rem 1rem 0rem;
  font-size: 1.4rem;
  width: 100%;
}

#admin .reviewevent textarea.active {
  border-color: #008489;
}

#admin .reviewevent textarea.error {
  border-color: red;
}

#admin .reviewevent textarea::-moz-placeholder {
  color: #adadad;
  font-size: 1.4rem;
  font-family: inherit;
}

#admin .reviewevent textarea:-ms-input-placeholder {
  color: #adadad;
  font-size: 1.4rem;
  font-family: inherit;
}

#admin .reviewevent textarea::-ms-input-placeholder {
  color: #adadad;
  font-size: 1.4rem;
  font-family: inherit;
}

#admin .reviewevent textarea::placeholder {
  color: #adadad;
  font-size: 1.4rem;
  font-family: inherit;
}

