.profile-button {
    position: relative;
    width: 3.3rem;
    height: 3.3rem;
    margin-top: -8px;
    border-radius: 50%;
    & .icontext {
        position: absolute;
        width: 4rem;
        z-index: 10;
        left: 50%;
        margin-left: -2.1rem;
        margin-top: .24rem;
        text-align: center;
        & h2 {
            z-index: 10;
            color: white;
            font-size: 2.4rem;
            text-transform: uppercase;
            margin: 0;
            font-family: "Montserrat", sans-serif;
            -webkit-touch-callout: none; /* iOS Safari */
            -webkit-user-select: none; /* Safari */
            -khtml-user-select: none; /* Konqueror HTML */
            -moz-user-select: none; /* Old versions of Firefox */
            -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; 
        }
    }
}
.dropdown-label {
    & label {
        position:relative;
        display:block;
        transition:background 0.3s;
        cursor:pointer;
    }
    & input {
        display: none;
    }
    & input:checked ~ ul.subdropdown{
        max-height:15rem;
        transition:max-height 0.2s ease-in;
        margin-top: 1.5rem;
    }
}

/*style for the second level menu*/
ul.subdropdown{
    z-index: 1;
    max-height:0;
    padding:0;
    overflow:hidden;
    list-style-type:none;
    position:absolute;
    min-width:100%;
    right:0;
    box-shadow: -1px 1px 5px 0px #cecece;
    background: white;
    top:3.6rem;
    right: -2rem;
}
ul.subdropdown{
    max-height:35rem;
    transition:max-height 0.2s ease-in;
    margin-top: 1.5rem;
  }

ul.subdropdown li a{
    display:block;
    padding:1rem;
    padding-right:14rem;
    text-decoration:none;
    transition:background .1s;
    white-space:nowrap;
    background-color: white;
    float: left;
    width: 100%;
    text-align: left;
}

ul.subdropdown li a:hover{
    background: $border-color;
}