#header.a {
    position: fixed;
    width: 20%;
    background: white;
    height:100%;
    z-index: 901;
    border-right: solid #c1c1c1 1px;
    & .nav {
        border:none;
        padding: 2.5rem;
        & button.home {
            border: solid #008489 1px;
            border-radius: 0.3rem;
            padding: .9rem 2rem;
            margin-bottom: 3rem;
            font-size: 1.5rem;
            background: #008489;
            color: white;
        }
        & .logo {
            float:none;
            display: block;
        }
        & .title {
            display: block;
            & h3 {
                font-size: 1.7rem;
                margin:0;
            }
        }
    }
    & .menu {
        height: 100vh;
        & a {
            margin: 1rem 1rem;
            font-size: 1.5rem;
            color: rgb(118, 118, 118);
            font-weight: 400;
        }
    }
}


.checklist-section {
    position: relative;
    & .item {
        display: inline-block;
    }
    & .notification {
        position: absolute;
        background: red;
        padding: .5rem;
        border-radius: 100%;
        right: 0;
        color: white;
        font-size: 1rem;
        min-width: 2.5rem;
        & p {
            margin: 0;
            text-align: center;
            font-size: 1.2rem;
        }
    }
}