/*------------------------------------*\
  #Create Section- Advisories Page
\*------------------------------------*/


.event-create__advisories {
    padding-top: 5rem;
    width:90%;
    grid-template-columns: 1fr 1fr 1fr;
}


