/*------------------------------------*\
  #Create Section- Advisories Page
\*------------------------------------*/


.event-create__advisories {
    padding: 4rem 8rem 4rem 8rem;
    width:100% !important;
    grid-template-columns: 1fr 1fr 1fr;
}


