/*------------------------------------*\
  #Create Section- Advisories Page
\*------------------------------------*/


.event-create__advisories {
    padding: 5rem 0 10rem 0;
    width:90%;
    grid-template-columns: 1fr 1fr 1fr;
}


