/*------------------------------------*\
  #Create Section- Category Page
\*------------------------------------*/

.event-create__category {
    width:100% !important;
    grid-template-columns: 1fr 1fr;
}
.event-enter-category {
    width: 70%;
    margin: 4rem auto;
    & .title {
        margin-bottom: 2rem;
    }
}
.event-show-category {
    width: 100%;
}