/*------------------------------------*\
  #Create Section- Description Page
\*------------------------------------*/


.event-create__description {
    padding-top: 5rem;
    width:90%;
    grid-template-columns: 1fr 1fr;
}
