/*------------------------------------*\
  #Create Section- Description Page
\*------------------------------------*/


.event-create__description {
    padding: 5rem 0rem 10rem 0rem;
    width:90%;
    grid-template-columns: 1fr 1fr;
}

.tag-title{
    padding: 0 0 .8rem 0;
}
