/*------------------------------------*\
  #Create Section- Locaton Page
\*------------------------------------*/

.event-create__location {
    width:100% !important;
    grid-template-columns: 1fr 1fr;
}
.event-enter-location {
    width: 100%;
    padding: 4rem 8rem 4rem 8rem;
}
.event-show-location {
    width: 100%;
}
