/*------------------------------------*\
  #Create Section- Locaton Page
\*------------------------------------*/

.event-create__location {
    width:100% !important;
    grid-template-columns: 1fr 1fr;
}
.event-enter-location {
    width: 70%;
    margin: 4rem auto;
}
.event-show-location {
    width: 100%;
}
