#create {
    position: relative;
    overflow: auto;
    & .location {
        width:100%;
        & .ctitle {
            padding: 0;
        }
        & .text {
            width: 50%;
            float: left;
            margin:0;
            padding: 5rem 8.7% 0% 9.5%;
        }
        & .image {
            width: 50%;
            float: right;
            margin: 0;
            padding: 0;
            height: 100%;
            background: #f9f9f9;
        }
    }
}