#create {
    &.start {
    background-image: url("/storage/website-files/create-background.jpg");
    background-size: cover;
    height:100vh;
        & .content {
            padding: 7% 2% 2rem 7%;
            width: 40%;
            float: left;
            & .text {
                margin-bottom: 4rem;
                & h2 {
                    font-size: 3.2rem;
                    font-weight: 400;
                }
            }
        }
        & a.cbut {
            background: $default-color;
            padding: 1rem;
            border-radius: .5rem;
            color: white;
        }
    }
}
