#create {
    position: relative;
    overflow: auto;
    & .title {
        padding-top: 5rem;
        width:90%;
        margin: auto;
        & .text {
            width: 50%;
            float: left;
            margin:0;
            padding: 0% 10% 0% 5%;
        }
        & .image {
            min-height: 30rem;
            width: 50%;
            float: right;
            margin: 0;
        }
    }
}