/*------------------------------------*\
  #Create Section- Title Page
\*------------------------------------*/

.event-create__title {
    padding: 9rem 8rem 4rem 8rem;
    max-width: 60.2rem;
}

button.editTitle {
    color: white;
    padding: .4rem 1rem;
    background: orange;
    font-family: "Montserrat", sans-serif;
}

@media (max-width: 768px) { 
    .event-create__title {
        padding: 5rem 2rem 4rem 2rem;
    }
}


